// Style Override

.project-profile{
  margin-top: 15px;
  float: right;
  text-align: right;
}

.project-date{
  margin-top: 18px;
}

.row.date-wrap{
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  margin-top: -15px;
}

.contest-single{
  > h2{
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .well{
    padding:0; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; border:none; margin-left: -10px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
  }
}

.contest-single_info-panel{
  @include clearfix();
  max-height: 380px;

  .nav{
    width: 25%;
    float: left;
  }

  .tab-content{
    width: 75%;
    float: left;
    padding: 15px 25px;

    @include clearfix();
  }

  .nav-pills{
    > li > a{
      .badge{
        position: relative;
        top: 5px;
      }
    }
  }
}

.contest-single_description{
  max-height: 60px;
  overflow: hidden;
}

.contest-single_description-full{
  position: relative;
  padding: 30px 30px 22px;
  background: #eee;

  .close{
    position: absolute;
    top: 20px;
    right: 20px;

    @include transition(all 0.3s);

    &:hover{
      color: $fd-green;
      cursor: pointer;
    }
  }
}

.fd-loader{

  .center &{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.position-relative{
  position: relative;
}

.opacity-hideable{
  opacity: 1;
  visibility: visible;

  @include transition(all 0.3s);
}

.opacity_hide{
  opacity: 0;
  visibility: hidden;
}

.carousel_content{
  z-index: 10;
}

.owl-carousel{
  margin-top: 0;
  padding: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-next,
.owl-theme .owl-controls .owl-buttons .owl-prev{
  border-radius: 0;
  opacity: 1;
  margin: 0;

  transition: all 0.3s;
}

.owl-controls clickable{
  margin-top: 0;
}

.no-have{
  text-align: center;
  position: absolute;
  top: 50%;
  margin-left: 60px;
  left: 50%;
  transform: translate(-50%, -50%);

  &.no-margin{
    margin-left: 0;
  }
}

.owl-demo .owl-item > div img{
  transition: all 0.3s;
}

.owl-demo .owl-item > div:hover{
  cursor: pointer;

  img{
    opacity: 0.85;
  }
}

.owl-profiles{
  padding: 12px 0;

  .owl-controls .owl-buttons .owl-prev,
  .owl-controls .owl-buttons .owl-next{
    background-color: transparent;

    &:hover{
      background-color: transparent;
      opacity: 0.85;
    }
  }

  .owl-controls .owl-buttons .owl-prev{
    left: -30px;
  }
  .owl-controls .owl-buttons .owl-next{
    right: -30px;
  }
}

.creator-profile{
  overflow: hidden;

  img{
    border-radius: 50%;
    border: rgba(161, 163, 165, 0.58) 3px solid;
  }

  hr{
    margin: 10px;
  }

  .bio{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
  }

  .rankingMng{
    h4{
      font-weight: bold;

      span.highlighted{
        margin-left: 5px;
        color: #29aae2;
        font-style: italic;
        font-weight: lighter;
      }

      span.muted{
        font-size: 16px;
        font-weight: lighter;
        font-style: italic;
      }
    }

    .col-xs-3-5{
      width: 29.166665%;
    }

    .col-heading{
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 15px;
      font-style: italic;
    }

    .countValue{
      margin-bottom: 33px;
    }
  }
}

.nav-stacked > li + li{
  margin-top: 3px;
}

.register-main-style1{
  padding-bottom: 60px;
}

.step-2-left, .step-2-right{
  width: 50%;
  margin-top: 25px;
}

.imgcrop-area {
  background: #f2f2f2;
  overflow: hidden;
  width: 350px;
  height: 250px;
}

.img-upload-style1{
  float: right;

  .img-upload-file{
    margin-bottom: 12px;
  }

  .btn-info{
    font-size: 16px;
    font-weight: normal;
    padding: 8px 12px;
    width: 49%;
  }
}

.image-success{
  text-align: center;
  padding: 15px;
  color: $brand-success;
}
''
.progress-bar-success{
  background-color: $brand-success !important;;
}

.btn-success{
  padding: 14px 20px;

  &:hover, &:focus, &:active{
    background-color: darken($brand-success, 10%);
  }
}

.lightbox-modal .modal-content{
  padding: 0 !important;
}

#loading-bar .bar{
  background: $fd-green !important;
}

#loading-bar-spinner .spinner-icon{
  border-top-color: $fd-green !important;
  border-left-color: $fd-green !important;
}

.revision-list{
  li {
    a {
      text-decoration: none;

      &:hover{
        cursor: pointer;
      }

      &.active{
        color: $fd-green;
      }
    }
  }
}