<div class="contest-list">
    <ul class="nav nav-tabs custom-tabs">
        <li class="active"><a data-toggle="tab" href="#notifications">Notifications</a></li>
        <li><a data-toggle="tab" href="#feed">Feed</a></li>
    </ul>
    <div class="tab-content">
        <div id="notifications" class="tab-pane fade in active">
            <div class="notifications relative">
                <fd-loader class="center" ng-if="notificationsLoading"></fd-loader>
                <p class="no-have no-margin" ng-if="(!notifications || notifications.length === 0) && !notificationsLoading">You have no notifications!</p>
                <div class="row contestR2 notification" ng-repeat="notification in notifications | limitTo:4">
                    <div class="col-xs-2 notification_thumb" ng-if="!notification.extras.thumbnail">
                        <span class="notification_icon icon icon-{{notification.extras.icon}}"></span>
                    </div>
                    <div class="col-xs-2 notification_thumb" ng-if="notification.extras.thumbnail">
                        <img ng-src="{{notification.extras.thumbnail}}" alt="" class="contestImg notification_image">
                    </div>
                    <div class="col-xs-7">
                        <div class="content-contest">
                            <strong>{{notification.created_at | amDateFormat:'YYYY - MM - DD' }}</strong>
                            <br>
                            <span ng-bind-html="notification.text | trustedHtml"></span>
                        </div>
                    </div>
                    <div class="col-xs-3 notification_actions text-right">
                        <a class="radiusBox pointer sky" ng-if="notification.extras.action !== null" ui-sref="{{notification.extras.action ? notification.extras.action : null}}">
                            <span class="icon_search"></span>
                        </a>
                        <a class="radiusBox pointer"><span class="icon_text"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="feed" class="tab-pane fade">
            <div class="notifications relative">
                <p class="no-have no-margin" ng-if="(!feeds || feeds.length === 0)">No New Feeds</p>
                <div class="row contestR2 notification" ng-repeat="feed in feeds | limitTo:4">
                    <div class="col-xs-2 notification_thumb" ng-if="!feed.extras.thumbnail">
                        <span class="notification_icon icon icon-user"></span>
                    </div>
                    <!--<div class="col-xs-2 notification_thumb" ng-if="notification.extras.thumbnail">-->
                    <!--<img ng-src="{{notification.extras.thumbnail}}" alt="" class="contestImg notification_image">-->
                    <!--</div>-->
                    <div class="col-xs-7">
                        <div class="content-contest">
                            <strong>{{feed.time | amDateFormat:'YYYY - MM - DD' }}</strong>
                            <br>
                            <span title="{{feed.display_message}}" ng-bind-html="feed.display_message | trustedHtml"></span>
                        </div>
                    </div>
                    <div class="col-xs-3 notification_actions text-right">
                        <a class="radiusBox pointer"><span class="icon_text"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>