/public/css/
/public/js/
/public/views/
/public/uploads/
/public/packages/
/public/resize/
/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
.idea
.vagrant
.DS_Store
.ai
.zip
composer.lock