<div class="contest-single">
	<div class="row">
	    <div class="col-md-5">
	        <div class="projectImg lb">
	            <div class="row date-wrap">
	                <div class="col-xs-4 col-sm-3 project-profile"> <img src="images/profile.jpg" alt=""> </div>
	            </div>
	            <div class="row rankingMng">
                    <div class="col-xs-4 leftRank">
                        <h4>Rank</h4>
                        <span class="countValue">{{contest.id | ordinal}}</span>
                    </div>
                    <div class="col-xs-4 leftRank">
                        <h4>Contestants</h4>
                        <span class="countValue">{{contest.total_entries}}</span>
                    </div>
                    <div class="col-xs-4">
                        <h4>Time to Go</h4>
                        {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                        <span class="countValue">{{ end_time | amDifference : null : 'days' }}</span>
                    </div>
                </div>
            </div>
            <h3 class="projectHeading">{{contest.name}}</h3>
	    </div>
	    <div class="col-md-7">
	        <div class="well contest-single_info-panel">
            	<uib-tabset vertical="true" type="pills">
            		<uib-tab heading="General">
                        <div class="row">
                            <div class="col-xs-12 contest-single_description marginT15" data-ellipsis data-ellipsis-append="read more" data-ellipsis-append-click="showFullText()">
                                <div ng-bind-html="contest.description | trustedHtml"></div>
                            </div>
                        </div>
                        <hr />
						<div class="row">
                            <div class="col-sm-9">
	                            {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                                <h4 class="clearfix"><strong class="pull-left">Start Time</strong> <small class="pull-right">{{contest.start_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Finish Time</strong> <small class="pull-right">{{end_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Number of Contestants</strong> <small class="pull-right">{{contest.total_entries}}</small></h4>
                            </div>
                            <div class="col-sm-3 text-right"><span class="radius-box marginT10">2nd</span></div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="prizebox">
                                    <li><a>USD 1000 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 600 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 300 + 10% royalties if manufactured</a></li>
                                </ul>
                            </div>
                        </div>
            		</uib-tab>
            		<uib-tab heading="Contestants">
                        <uib-tab-heading>
                            Creators <span ng-if="contest.contestants.length > 0" class="badge pull-right">{{contest.contestants.length}}</span>
                        </uib-tab-heading>
						<div class="owl-profiles" ng-if="contest.contestants.length > 0" owl-carousel="contest.contestants"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail" class="coolestMemberLBPick">
                                        <img ng-src="{{item.thumbnail}}" alt="" ng-if="item.thumbnail">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        {{item.bio}}
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_origin}}</h4>
                                        <h4 class="capitalize">{{item.role}} <!-- <span class="highlighted">8.5/10</span> --></h4>
                                        <h4>Reviews <a class="muted cursor">0 reviews</a></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.total_entries}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Done</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.contestants.length === 0">There are currently no creators for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Jury">
                        <uib-tab-heading>
                            Jury <span ng-if="contest.judges.length > 0" class="badge pull-right">{{contest.judges.length}}</span>
                        </uib-tab-heading>
						<div class="owl-profiles" ng-if="contest.judges.length > 0" owl-carousel="contest.judges"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail" class="coolestMemberLBPick">
                                        <img ng-src="{{item.thumbnail}}" alt="" ng-if="item.thumbnail">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        {{item.bio}}
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_origin}}</h4>
                                        <h4 class="capitalize">{{item.role}} <!-- <span class="highlighted">0/10</span> --></h4>
                                        <h4>Reviews  <a class="muted cursor">0 reviews</a></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.total_entries}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Judged</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.judges.length === 0">There are currently no judges for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Market">
						<p class="no-have">There is currently no Market information for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Market Survey">
						<p class="no-have">There is currently no Market Survey information for this contest.</p>
            		</uib-tab>
            	</uib-tabset>
	        </div>
	    </div>
	</div>
</div>