<div class="row" ng-if="user.creator.ongoing_contest.length > 0">
    <div class="col-sm-12">
        <uib-tabset class="tabsection">
            <uib-tab heading="My Ongoing Contests">
                <ul class="tabProjectList">
                    <li ng-repeat="contest in ongoingContests" ui-sref="app.contestsingle({contestId: contest.id})">
                        <div class="projectImg" ng-style="{'background-image': (contest.thumbnail) ? 'url(/' + contest.thumbnail + ')': ''}">
                            <div class="row rankingMng">
                                <div class="col-xs-3 leftRank">
                                    <h4>Rank</h4>
                                    <span class="countValue">{{contest.rank | ordinal}}</span>
                                </div>
                                <div class="col-xs-3 leftRank">
                                    <h4>Contestants</h4>
                                    <span class="countValue">{{contest.num_contestants}}</span>
                                </div>
                                <div class="col-xs-3">
                                    <h4>Time to Go</h4>
                                    {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                                    <span class="countValue">{{ end_time | amDifference : null : 'days' }}</span>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">{{contest.name}}</h3>
                    </li>
                </ul>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<div ng-if="contests.length > 0">
    <h2><strong>Wanna put your creativity in motion? Participate in a New Contest</strong></h2>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <ul class="tabProjectList">
                <li ng-repeat="contest in contests | filter: { id_key: '!4' }" ui-sref="app.contestsingle({contestId: contest.id})">
                    <div class="projectImg" ng-style="{'background-image': (contest.thumbnail) ? 'url(/' + contest.thumbnail + ')': ''}">
                        <div class="row rankingMng">
                            <div class="col-xs-3 leftRank">
                                <h4>Rank</h4>
                                <span class="countValue">{{contest.rank | ordinal}}</span>
                            </div>
                            <div class="col-xs-3 leftRank">
                                <h4>Contestants</h4>
                                <span class="countValue">{{contest.num_contestants}}</span>
                            </div>
                            <div class="col-xs-3">
                                <h4>Time to Go</h4>
                                {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                                <span class="countValue">{{ end_time | amDifference : null : 'days' }}</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="projectHeading">{{contest.name}}</h3>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-6 col-md-12">
        <ul class="tabProjectList withprojectdetail">
            <li>
                <div class="projectImg">
                    <div class="row">
                        <div class="col-xs-8 col-sm-9 project-date">
                            <h4 style="color:#000;">10 days to go (Dic 12th, 2015).</h4>
                        </div>
                        <div class="col-xs-4 col-sm-3 project-profile"> <img src="images/profile.jpg" alt=""> </div>
                    </div>
                    <div class="row rankingMng">
                        <div class="col-xs-3 col-sm-4 leftRank">
                            <h4>Current Ranking</h4>
                            <span class="countValue">3rd</span> </div>
                        <div class="col-xs-4 col-sm-4 leftRank">
                            <h4>Number of Contestants</h4>
                            <span class="countValue">67</span> </div>
                        <div class="col-xs-5 col-sm-4"> <a href="#" class="btn btn-info">Project Details</a> </div>
                    </div>
                </div>
                <h3 class="projectHeading">Name of the Project</h3>
            </li>
        </ul>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="infobg">
            <h3><strong>Short Intro</strong></h3>
            <p>Design a workout that will integrate some modern electric tools suchas bluetooth receiver or app..</p>
            <p>This worksuit is dedicated to day-to-day workers , casual handyman and all people that want a confortable outfit for "do-it-yourselfers” working integrating modern tools of communication.</p>
            <hr>
            <h3><strong>Guideline Doc &nbsp;</strong><small><a href="#">Register to Download</a></small></h3>
            <h3><strong>Prize</strong></h3>
            <ul class="priceList">
                <li>USD 1000 + 10% royalties if manufactured</li>
                <li>USD 600 + 10% royalties if manufactured</li>
                <li>USD 300 + 10% royalties if manufactured</li>
            </ul>
            <h3><strong>Jury</strong></h3>
            <div class="profilePick"><img src="images/profile.jpg" alt=""> <img src="images/profile.jpg" alt=""> <img src="images/profile.jpg" alt=""><strong> <img src="images/profile.jpg" alt=""> <img src="images/profile.jpg" alt=""></strong></div>
            <div class="row colRanking">
                <div class="col-xs-4 leftRank">
                    <h4>Current Ranking</h4>
                    <span class="countValue">3rd</span> </div>
                <div class="col-xs-5 leftRank">
                    <h4>Number of Contestants</h4>
                    <span class="countValue">67</span> </div>
                <div class="col-xs-3">
                    <h4>Days left to Go</h4>
                    <span class="countValue">12th</span> </div>
            </div>
            <a href="#" class="btn btn-info btn-block">Participate in this Project</a>
            <div><a href="#" class="btn backbtn btn-info btn-block">Go back to Project Cover</a></div>
        </div>
    </div>
</div>
 -->