<!-- Main Projects Section -->
<div class="row">
    <div class="col-sm-12">
        <uib-tabset class="tabsection">
            <uib-tab heading="Ongoing Projects">
                <div class="row">
                    <div class="col-xs-6 project-itemCol">
                        <div class="row project-itemRow">
                            <div class="col-lg-6">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <a href="#" class="project-hover"></a>
                                    <img src="images/PayPal.png" alt="" class="paypal-icn">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="well project-caption">
                                    <h3>Main Task<br> <small>Make 3d Prototype</small></h3>
                                    <h3>Gain<br> <small>400 Usd (30/100)</small></h3>
                                    <h3>Timing<br> <small><a href="#">7 days left</a></small></h3>
                                    <div class="row paddingT15">
                                        <div class="col-xs-4">
                                            <h3>Task</h3>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <h3>Project</h3>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 project-itemCol">
                        <div class="row project-itemRow">
                            <div class="col-lg-6">
                                <div class="project-thumbnail" style="background-image:url(images/expert-project4.jpg);">
                                    <a href="#" class="project-hover"></a>
                                    <img src="images/PayPal.png" alt="" class="paypal-icn">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="well project-caption">
                                    <h3>Main Task<br> <small>Lilydrone Project Manufacturing</small></h3>
                                    <h3>Gain<br> <small>40,000 Usd (70/100)</small></h3>
                                    <h3>Timing<br> <small><a href="#">55 days left</a></small></h3>
                                    <div class="row paddingT15">
                                        <div class="col-xs-4">
                                            <h3>Task</h3>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:95%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <h3>Project</h3>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Past Projects">
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<!-- Secondary Section -->
<div class="secondary-section">
    <div ng-class="{'opacity_hide': sectionLoading}">
        <!-- Creator -->
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Invest in what you know and what you believe in</strong></h2>
                <hr>
            </div>
            <div class="col-sm-12">
                <div class="draft-wraper">
                    <div class="row">
                        <div class="col-md-6 paddingR0">
                            <div class="well draftProjectList">
                                <h4>Open an existing Draft</h4>
                                <hr>
                                <div class="draftProjectListInner marginT20">
                                    <h4 class="clearfix cursor" ng-repeat="project in allProjects">
                                <a ng-click="goToProject(project)" class="pointer">
                                    <span ng-if="project.name">{{project.name}}</span>
                                    <span ng-if="!project.name">Untitled Project</span>
                                </a>
                                <small class="marginL15" style="color:#29aae2"><dfn>Started on {{project.created_at | amDateFormat:'DD/MM/YYYY' }}</dfn></small>
                            </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 paddingL0">
                            <div class="well start-newProject">
                                <h1 class="clearfix">
                            <a class="pointer" ng-if="!data.newProjectLoading" ng-click="createNewProject()">
                                <span class="icon icon-plus large-plus pull-left"></span>
                                <span class="padding15 marginL10 pull-left">Start a New Project</span>
                            </a>
                            <a class="pointer" ng-if="data.newProjectLoading">
                                <span class="padding15 marginL10 pull-left">Creating new project ... </span>
                            </a>
                        </h1>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Expert -->
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Bring your expertise to great products and projects</strong></h2>
                <hr>
            </div>
            <div class="col-xs-12">
                <ul class="list-inline-group filters-button-group button-group">
                    <li class="separator-nav"><a class="isotopeNav pointer" ng-class="{'is-checked': expertiseSource === availableExpertise}" ng-click="expertiseSource = availableExpertise">All</a></li>
                    <li><a class="isotopeNav pointer" ng-class="{'is-checked': expertiseSource === matchingExpertise}" ng-click="expertiseSource = matchingExpertise">MATCHING WORK EXPERTISE</a></li>
                </ul>
            </div>
            <div class="col-md-12 overflow-hidden" ng-if="expertiseSource.length > 0">
                <ul class="tabProjectList threeCol">
                    <li ng-repeat="expertise in expertiseSource" ui-sref="app.expertise({expertiseId: expertise.id})">
                        <div class="homepage-expertise expertise sliding-tiles">
                            <div class="sliding-tiles_front product-thumbnail" style="background-image:url({{expertise.project.thumbnail}});">
                                <div class="product-header">
                                    <h3>{{expertise.expertise.name}}</h3>
                                </div>
                            </div>
                            <div class="sliding-tiles_back expertise well product-thumbnail">
                                <h3><strong>{{expertise.expertise.name}}</strong></h3>
                                <p>{{expertise.description}}</p>
                                <ul class="marginT15 list-unstyled clearfix profileList">
                                    <li>
                                        <a class="profilePick smallPick "><img src="images/profile.jpg" alt=""></a>Amanda F. &nbsp; Project Funder
                                    </li>
                                    <li>
                                        <a class="profilePick smallPick "><img src="images/profile.jpg" alt=""></a>Amanda F. &nbsp; Project Programmer
                                    </li>
                                    <li class="profilePick smallPick">
                                        <a href="#"><img src="images/profile.jpg" alt=""></a>
                                        <a href="#"><img src="images/profile.jpg" alt=""></a>
                                        <a href="#"><img src="images/profile.jpg" alt=""></a>
                                        <a href="#"><img src="images/profile.jpg" alt=""></a> <a href="#">and 56 experts</a>
                                    </li>
                                </ul>
                                <div class="product-footer headingWithBg">
                                    <h3>Total Budget: {{expertise.budget | currency}}</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Investor -->
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Invest in what you know and what you believe in</strong></h2>
                <hr>
            </div>
            <div class="col-xs-12">
                <ul class="list-inline-group filters-button-group button-group">
                    <li class="separator-nav"><a class="isotopeNav is-checked" href="javascript:void(0)" data-filter="*">BY PRODUCT</a></li>
                    <li class="separator-nav"><a class="isotopeNav" href="javascript:void(0)" data-filter=".country">BY COUNTRY</a></li>
                    <li class="separator-nav"><a class="isotopeNav" href="javascript:void(0)" data-filter=".type-project">BY TYPE OF PROJECT</a></li>
                    <li><a class="isotopeNav" href="javascript:void(0)" data-filter=".extended">ALL EXTENDED</a></li>
                </ul>
            </div>
            <div class="col-md-12 overflow-hidden">
                <div class="grid investGrid">
                    <div class="element-item country" data-category="country">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>300$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>70%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">5 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">30%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                    <div class="element-item extended" data-category="extended">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>400$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>20%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">50 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%">60%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                    <div class="element-item country" data-category="country">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>200$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>10%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">45 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">90%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                    <div class="element-item type-project" data-category="type-project">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>500$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>20%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">10 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">70%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
