<!-- Loader -->
<div class="margin50">
    <fd-loader class="center center-top fixed-center" ng-class="{'opacity_hide': !sectionLoading}"></fd-loader>
</div>
<!-- Main Projects Section -->
<div ng-class="{'opacity_hide': sectionLoading}">
    <div class="row">
        <div class="col-sm-12">
            <uib-tabset class="tabsection" ng-if="ongoingTasks.length > 0">
                <uib-tab heading="Ongoing Tasks">
                    <div class="row">
                        <div class="col-xs-6 project-itemCol" ng-repeat="expertise in ongoingTasks" ui-sref="app.project({projectId: project.id})">
                            <div class="row project-itemRow">
                                <div class="col-lg-6">
                                    <div class="project-thumbnail" style="background-image: url({{project.thumbnail ? project.thumbnail : '/images/placeholder.png';}});">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="well project-caption">
                                        <h3>Main Task<br> <small>{{expertise.task}}</small></h3>
                                        <h3>Gain<br> <small>{{expertise.bid_amount | currency}}</small></h3>
                                        {{ end_time = (expertise.start_date | amAdd : expertise.lead_time : 'days'); ''}}
                                        <h3>Time Remaining<br> <small>{{ end_time | amDifference : null : 'days' }} days left</small></h3>
                                        <div class="row paddingT15">
                                            <div class="col-xs-4">
                                                <h3>Task</h3>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <h3>Project</h3>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Project Bids">
                    <div class="row">
                        <div class="col-xs-6 project-itemCol" ng-repeat="expertise in ongoingBids" ui-sref="app.expertise({expertiseId: expertise.id})">
                            <div class="row project-itemRow">
                                <div class="col-lg-6">
                                    <div class="project-thumbnail" style="background-image: url({{project.thumbnail ? project.thumbnail : '/images/placeholder.png';}});">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="well project-caption">
                                        <h3>Main Task<br> <small>{{expertise.task}}</small></h3>
                                        <div class="row paddingT20">
                                            <div class="col-sm-6">
                                                <h3>Bid<br> <small>{{expertise.bid_amount | currency}}</small></h3>
                                            </div>
                                            <div class="col-sm-6">
                                                <h3>Budget<br> <small>{{expertise.budget | currency}}</small></h3>
                                            </div>
                                        </div>
                                        <h3>Bid Placed<br> <small am-time-ago="expertise.created_at"></small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- Secondary Section -->
<div class="secondary-section">
    <div ng-class="{'opacity_hide': sectionLoading}">
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Bring your expertise to great products and projects</strong></h2>
                <hr>
            </div>
            <div class="col-xs-12">
                <ul class="list-inline-group filters-button-group button-group">
                    <li class="separator-nav"><a class="isotopeNav pointer" ng-class="{'is-checked': expertiseSource === availableExpertise}" ng-click="expertiseSource = availableExpertise">All</a></li>
                    <li><a class="isotopeNav pointer" ng-class="{'is-checked': expertiseSource === matchingExpertise}" ng-click="expertiseSource = matchingExpertise">MATCHING WORK EXPERTISE</a></li>
                </ul>
            </div>
            <div class="col-md-12 overflow-hidden" ng-if="expertiseSource.length > 0">
                <ul class="tabProjectList threeCol">
                    <li ng-repeat="expertise in expertiseSource" ui-sref="app.expertise({expertiseId: expertise.id})">
                        <div class="homepage-expertise expertise sliding-tiles">
                            <div class="sliding-tiles_front product-thumbnail" style="background-image:url({{expertise.project.thumbnail ? expertise.project.thumbnail : '/images/placeholder.png'}});">
                                <div class="product-header">
                                    <h4 class="margin0">{{expertise.expertise.name}}</h4>
                                </div>
                            </div>
                            <div class="sliding-tiles_back expertise well product-thumbnail">
                                <h4>Project<br><small>{{expertise.project.name}}</small></h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Start Date<br><small>{{expertise.start_date | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Lead Time<br><small>{{expertise.lead_time}} days</small></h4>
                                    </div>
                                </div>
                                <h4>Task<br><small>{{expertise.task}}</small></h4>

                                <div class="product-footer headingWithBg">
                                    <h3>Total Budget: {{expertise.budget | currency}}</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
