<div class="project-team well" data-columns>
	<div class="col-md-4 col-sm-4">
		<div class="col-md-7">
			<div class="profilePick tooLarge text-right"><img ng-src="{{project.creator.thumbnail_url}}" alt=""></div>
		</div>
		<div class="col-md-5 paddingL0">
			<h3>{{project.creator.name}}<br> <small>Creator <br><a>{{project.creator.user.country_origin}}</a></small></h3>
		</div>
	</div>
	<div class="col-md-4 col-sm-4">
		<div class="col-md-7">
			<div class="profilePick tooLarge text-right"><img ng-src="{{project.super_expert.thumbnail_url}}" alt=""></div>
		</div>
		<div class="col-md-5 paddingL0">
			<h3>{{project.super_expert.name}} <br><small>Super Expert<br> <a>{{project.super_expert.user.country_origin}}</a></small></h3>
		</div>
	</div>
	<div class="col-md-4 col-sm-4" ng-repeat="expert in project.experts">
		<div class="col-md-7">
			<div class="profilePick tooLarge text-right"><img ng-src="{{expert.thumbnail_url}}" alt=""></div>
		</div>
		<div class="col-md-5 paddingL0">
			<h3>{{expert.name}}<br> <small>Expert <br><a>{{expert.user.country_origin}}</a></small></h3>
		</div>
	</div>
	<div class="col-md-4 col-sm-4" ng-repeat="investor in project.investors">
		<div class="col-md-7">
			<div class="profilePick tooLarge text-right"><img ng-src="{{investor.thumbnail_url}}" alt=""></div>
		</div>
		<div class="col-md-5 paddingL0">
			<h3>{{investor.name}}<br> <small>Investor <br><a>{{investor.user.country_origin}}</a></small></h3>
		</div>
	</div>
</div>