<div class="relative" ng-if="!project">
    <fd-loader class="center center-top fixed-center" ng-class="{'opacity_hide': project}"></fd-loader>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="expertise-list marginB60" ng-class="{'opacity_hide': !project}">
    <div class="project-itemCol marginB30">
        <div class="row project-itemRow project-investment">
            <div class="col-lg-4">
                <div class="project-thumbnail" style="background-image: url({{project.thumbnail ? project.thumbnail : '/images/placeholder.png';}});"></div>
                <h3 class="projectHeading project-heading">{{project.name}}</h3>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-7">
                        <div class="well project-caption">
                            <h3 class="padding0 margin0">Project Description</h3>
                            <div class="project-mini-description" ng-bind="project.description | stripTags" ellipsis
                            ellipsis-append="<a class='read-more'>show more</a>" ellipsis-append-click="showFullText()"></div>
                            <h3 class="marginB0">Meet the team</h3>
                            <div class="leadershipConnection">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="profilePick medium"> <img ng-src="{{project.creator.thumbnail_url}}" alt=""> </div>
                                        <h5 class="text-center marginT5 leadershipDetailInset">{{project.creator.name}} <br>Creator <br><small><a>{{project.creator.user.country_origin}}</a></small></h5>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="profilePick medium"> <img ng-src="{{project.super_expert.thumbnail_url}}" alt=""> </div>
                                        <h5 class="text-center marginT5 leadershipDetailInset">{{project.super_expert.name}} <br>Super Expert <br><small><a>{{project.super_expert.user.country_origin}}</a></small></h5>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="profilePick medium"> <img ng-src="{{project.experts[0].user.thumbnail_url}}" alt=""> </div>
                                        <h5 class="text-center marginT5 leadershipDetailInset">{{project.experts[0].name}} <br>Expert <br><small><a>{{project.experts[0].user.country_origin}}</a></small></h5>
                                    </div>
                                    <div class="col-xs-3" ng-click="goToSection('app.project.team')">
                                        <div class="clearfix"><div class="pull-right paddingT5"><img ng-src="images/team.png" alt=""></div></div>
                                        <h4 class="text-center marginT5 leadershipDetailInset">TEAM</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 well project-well-inset">
                        <!-- Investor View -->
                        <div ng-if="activeRole === 'investor'">
                            <div class="relative">
                                <h4 class="marginT0 marginB20">Bid Amount <br><small>{{project.investment.bid_amount_max | currency}}</small></h4>
                                <h4 class="marginB20">Bid Placed on <br>
                                    <small>{{project.investment.created_at | amDateFormat:'MMM Do, YYYY'}}</small>
                                </h4>
                                <h4>Bid Description <br>
                                    <small>{{project.investment.description}}</small>
                                </h4>
                            </div>
                        </div>

                        <!-- Expert View -->
                        <div ng-if="activeRole === 'expert'">
                            <div class="relative">
                                <h4 class="marginT0">Main Task<br> <small>{{project.tasks[0].task}}</small></h4>
                                <h4 class="marginT20">Gain<br> <small>{{project.tasks[0].selected_bid.bid_amount | currency}}</small></h4>
                                {{ end_time = (project.tasks[0].start_date | amAdd : project.tasks[0].lead_time : 'days'); ''}}
                                <h4 class="marginT20">Time Remaining<br> <small>{{ end_time | amDifference : null : 'days' }} days left</small></h4>
                            </div>
                        </div>

                        <!-- Creator View -->
                        <div ng-if="activeRole === 'creator'">
                            <div class="relative">
                                <h3>Project Started<br> <small am-time-ago="project.created_at"></small></h3>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="padding0">Tasks Completed</h3>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:20%">2 / 10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row marginT20">
            <div class="col-md-12">
                <ul class="list-inline-group marginB15">
                    <li class="pointer"">
                        <a ng-click="goToSection('app.project.mytask')" ng-class="{'is-checked': $state.current.name.indexOf('app.project.mytask') !== -1}" ng-if="activeRole === 'expert'">MY TASKS</a>
                    </li>

                    <li class="pointer"">
                        <a ng-click="goToSection('app.project.schedule')" ng-class="{'is-checked': $state.current.name.indexOf('app.project.mytask') !== -1}" ng-if="activeRole === 'expert'">SCHEDULE</a>
                    </li>

                    <li class="pointer" ng-repeat="section in sections">
                        <a ng-click="goToSection(section.state)" ng-class="{'is-checked': $state.current.name.indexOf(section.state) !== -1}">{{section.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="project-content relative">
        <fd-loader class="center center-top fixed-center" ng-class="{'opacity_hide': !innerSectionLoading}"></fd-loader>

        <div ui-view="project-states" ng-class="{'opacity_hide': innerSectionLoading}"></div>
    </div>
</div>
