<!-- Loader -->
<div class="margin50">
    <fd-loader class="center center-top fixed-center" ng-class="{'opacity_hide': !sectionLoading}"></fd-loader>
</div>

<!-- Main Projects Section -->
<div ng-class="{'opacity_hide': sectionLoading}" >
    <div class="row">
        <div class="col-sm-12">
            <uib-tabset class="tabsection" ng-if="projects.length > 0">
                <uib-tab heading="Ongoing Projects">
                    <div class="row">
                        <div class="col-xs-6 project-itemCol" ng-repeat="project in projects" ui-sref="app.project({projectId: project.id})">
                            <div class="row project-itemRow">
                                <div class="col-lg-6">
                                    <div class="project-thumbnail" style="background-image: url({{project.thumbnail}});">
                                    </div>

                                    <h3 class="projectHeading project-heading">{{project.name}}</h3>
                                </div>
                                <div class="col-lg-6">
                                    <div class="well project-caption">
                                        <h3>Project Started<br> <small am-time-ago="project.created_at"></small></h3>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3 class="padding0">Tasks Completed</h3>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:20%">2 / 10</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<!-- Secondary Section -->
<div class="secondary-section">
    <div ng-class="{'opacity_hide': sectionLoading}">
        <!-- Creator -->
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Wanna put your creativity in motion? Start a new project!</strong></h2>
                <hr>
            </div>
            <div class="col-sm-12">
                <div class="draft-wraper">
                    <div class="row">
                        <div class="col-md-6 paddingR0">
                            <div class="well draftProjectList">
                                <h4>Open an existing Draft</h4>
                                <hr>
                                <div class="draftProjectListInner marginT20">
                                    <h4 class="clearfix cursor" ng-repeat="project in draftProjects">
                                        <a ui-sref="app.create.details({ projectId: project.id })" class="pointer">
                                            <span>{{project.name ? project.name : 'Untitled Project'}}</span>
                                        </a>
                                        <small class="marginL15" style="color:#29aae2"><dfn>Started on {{project.created_at | amDateFormat:'DD/MM/YYYY' }}</dfn></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 paddingL0">
                            <div class="well start-newProject">
                                <h1 class="clearfix">
                                    <a class="pointer" ng-if="!data.newProjectLoading" ng-click="createNewProject()">
                                        <span class="icon icon-plus large-plus pull-left"></span>
                                        <span class="padding15 marginL10 pull-left">Start a New Project</span>
                                    </a>
                                    <a class="pointer" ng-if="data.newProjectLoading">
                                        <span class="padding15 marginL10 pull-left">Creating new project ... </span>
                                    </a>
                                </h1>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
