<!-- Loader -->
<div class="margin50">
    <fd-loader class="center center-top fixed-center" ng-class="{'opacity_hide': !sectionLoading}"></fd-loader>
</div>
<!-- Main Projects Section -->
<div ng-class="{'opacity_hide': sectionLoading}">
    <div class="row">
        <div class="col-sm-12">
            <uib-tabset class="tabsection" ng-if="ongoingTasks.length > 0">
                <uib-tab heading="Investments">
                    <div class="row">
                        <div class="col-xs-6 project-itemCol" ng-repeat="expertise in ongoingTasks" ui-sref="app.project({projectId: project.id})">
                            <div class="row project-itemRow">
                                <div class="col-lg-6">
                                    <div class="project-thumbnail" style="background-image: url({{project.thumbnail}});">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="well project-caption">
                                        <h3>Invested Amount<br> <small>400$ Usd</small></h3>
                                        <h3>Investment Return<br> <small>20%</small></h3>
                                        <h3>Remaining Time<br> <small>50 days</small></h3>
                                        <h3 class="marginB0">Completion</h3>
                                        <div class="progress redbg">
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%">60%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- Secondary Section -->
<div class="secondary-section">
    <div ng-class="{'opacity_hide': sectionLoading}">
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Invest in what you know and what you believe in</strong></h2>
                <hr>
            </div>
            <div class="col-xs-12">
                <ul class="list-inline-group filters-button-group button-group">
                    <li class="separator-nav"><a class="isotopeNav is-checked" href="javascript:void(0)" data-filter="*">BY PRODUCT</a></li>
                    <li class="separator-nav"><a class="isotopeNav" href="javascript:void(0)" data-filter=".country">BY COUNTRY</a></li>
                    <li class="separator-nav"><a class="isotopeNav" href="javascript:void(0)" data-filter=".type-project">BY TYPE OF PROJECT</a></li>
                    <li><a class="isotopeNav" href="javascript:void(0)" data-filter=".extended">ALL EXTENDED</a></li>
                </ul>
            </div>
            <div class="col-md-12 overflow-hidden">
                <div class="grid investGrid">
                    <div class="element-item country" data-category="country">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>300$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>70%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">5 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">30%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                    <div class="element-item extended" data-category="extended">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>400$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>20%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">50 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%">60%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                    <div class="element-item country" data-category="country">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>200$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>10%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">45 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">90%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                    <div class="element-item type-project" data-category="type-project">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="project-thumbnail" style="background-image:url(images/MainTask.jpg);">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profilePick medium pull-right margin10"> <img src="images/demoPick.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="well project-caption">
                                    <h3>Invested Amount<br> <small>500$ Usd</small></h3>
                                    <h3>Investment Return<br> <small>20%</small></h3>
                                    <h3>Remaining Time<br> <small><a href="#">10 days</a></small></h3>
                                    <h3 class="marginB0">Completion</h3>
                                    <div class="progress redbg">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">70%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="projectHeading">Name of the Project</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
