.notifications{
	.notification{
		.notification_icon{
			font-size: 36px;
			padding: 18px 20px 20px 28px;
			display: block;
			text-align: center;
			background-color: $fd-green;
			color: #fff;
		}
	}
}