.quick-access{
}

.quick-access_menu{
	width: 300px;
	float: right;
	top: 0;
	right: 10px;
	position: absolute;

	@include clearfix();

	.panel-group{
		margin-bottom: 0;
	}

	.panel{
		border-radius: 0;
		// border: 1px solid #444;
		border: 0;
		background: transparent;
	}

	.panel-heading{
		padding: 0;

		color: #fff;
		border: 0;
		background-color: transparent;

		@include transition(all 0.21s ease);

		a{
			display: block;
			padding: 10px 15px;

			text-decoration: none !important;;
		}

		.badge{
			position: relative;
			right: -15px;
		}

		&:hover{
			// background-color: #444;
		}
	}


	uib-accordion > .panel-group > .panel-default {
		> .panel-heading {
			position: relative;

			.caret{
				position: absolute;
				right: 20px;
				top: 14px;
				border-width: 7px;

				transform-origin: 50% 50%;
				-webkit-transform-origin: 50% 50%;
				@include rotate(-90deg);
				@include transition(all 0.3s);
			}
		}

		&.panel-open{
			> .panel-heading .caret {
				@include rotate(0deg);
			}
		}

		> .panel-collapse > .panel-body{
			padding: 0 15px;
		}
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body{
		// border-top: 1px solid #444;
		border: 0;
		padding: 0 5px;

		.empty{
			color: #999;
			font-size: 12px;
			text-align: center;
			padding: 20px 30px;
			display: block;
		}

		.panel-default {
			padding-bottom: 15px;
			border-bottom: 1px solid #444;
			margin-bottom: 20px;

			> .panel-heading > .panel-title{
				font-size: 14px;
				color: #ddd;
			}
		}
	}

	.list-group-transparent{
		margin: 0;

		.list-group-item{
			background: transparent;
			border: 0;

			img{
				width: 50px;
				height: 50px;
				float: left;
				margin-right: 20px;
			}

			a{
				display: block;
				color: #fff;
				font-size: 16px;
				text-decoration: none;

				> span{
					display: block;
					font-size: 12px;
					margin-top: 5px;

					&.success{
						color: #95c54d;
					}

					&.waiting{
						color: orange;
					}
				}
			}
		}
	}
}



.profile-skills-selection{
	.chosen-container.chosen-container-multi .chosen-choices{
		height: 120px !important;
	}
}