<div class="contest-single">
	<div class="row">
	    <div class="col-md-5">
	        <div class="projectImg lb">
	            <div class="row date-wrap">
	                <div class="col-xs-4 col-sm-3 project-profile"> <img src="images/profile.jpg" alt=""> </div>
	            </div>
	            <div class="row rankingMng">
                    <div class="col-xs-4 leftRank">
                        <h4>Rank</h4>
                        <span class="countValue">{{contest.id | ordinal}}</span>
                    </div>
                    <div class="col-xs-4 leftRank">
                        <h4>Contestants</h4>
                        <span class="countValue">{{contest.total_entries}}</span>
                    </div>
                    <div class="col-xs-4">
                        <h4>Time to Go</h4>
                        {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                        <span class="countValue">{{ end_time | amDifference : null : 'days' }}</span>
                    </div>
                </div>
            </div>
            <h3 class="projectHeading">{{contest.name}}</h3>
	    </div>
	    <div class="col-md-7">
	        <div class="well contest-single_info-panel">
            	<uib-tabset vertical="true" type="pills">
            		<uib-tab heading="General">
                        <div class="row">
                            <div class="col-xs-12 contest-single_description marginT15" data-ellipsis data-ellipsis-append="read more" data-ellipsis-append-click="showFullText()">
                                <div ng-bind-html="contest.description | trustedHtml"></div>
                            </div>
                        </div>
                        <hr />
						<div class="row">
                            <div class="col-sm-9">
	                            {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                                <h4 class="clearfix"><strong class="pull-left">Start Time</strong> <small class="pull-right">{{contest.start_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Finish Time</strong> <small class="pull-right">{{end_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Number of Contestants</strong> <small class="pull-right">{{contest.total_entries}}</small></h4>
                            </div>
                            <div class="col-sm-3 text-right"><span class="radius-box marginT10">2nd</span></div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="prizebox">
                                    <li><a>USD 1000 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 600 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 300 + 10% royalties if manufactured</a></li>
                                </ul>
                            </div>
                        </div>
            		</uib-tab>
            		<uib-tab heading="Contestants">
                        <uib-tab-heading>
                            Creators <span class="badge pull-right">{{contest.contestants.length}}</span>
                        </uib-tab-heading>
						<div class="owl-profiles" ng-if="contest.contestants.length > 0" owl-carousel="contest.contestants"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail" class="coolestMemberLBPick">
                                        <img ng-src="{{user.thumbnail}}" alt="" ng-if="item.thumbnail">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur natus voluptas error eaque. Porro repellat amet maiores aliquid quasi ea quam cumque voluptates esse consequuntur ut, necessitatibus adipisci provident sapiente.
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>South Korea</h4>
                                        <h4>{{item.role}} <span class="highlighted">8.5/10</span></h4>
                                        <h4>Reviews <span class="muted">37 reviews</span></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.total_entries}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Done</h4>
                                        <span class="countValue">5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.contestants.length === 0">There are currently no creators for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Jury">
                        <uib-tab-heading>
                            Jury <span class="badge pull-right">{{contest.judges.length}}</span>
                        </uib-tab-heading>
						<div class="owl-profiles" ng-if="contest.judges.length > 0" owl-carousel="contest.judges"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail" class="coolestMemberLBPick">
                                        <img ng-src="{{user.thumbnail}}" alt="" ng-if="item.thumbnail">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur natus voluptas error eaque. Porro repellat amet maiores aliquid quasi ea quam cumque voluptates esse consequuntur ut, necessitatibus adipisci provident sapiente.
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_residence}}</h4>
                                        <h4 class="capitalize">{{item.role}} <span class="highlighted">0/10</span></h4>
                                        <h4>Reviews <span class="muted">0 reviews</span></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.total_entries}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Done</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.judges.length === 0">There are currently no judges for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Market">
						<p class="no-have">There is currently no Market information for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Market Survey">
						<p class="no-have">There is currently no Market Survey information for this contest.</p>
            		</uib-tab>
            	</uib-tabset>
	        </div>
	    </div>
	</div>
	<!-- <div class="entries-list" ng-if="contest.entries.length > 0">
        <h2>Entries</h2>
        <hr/>
        <div class="row">
            <div class="col-sm-9">
                <div class="owl-demo greybg" owl-carousel="contest.entries"
                    owl-options='{"pagination": false, "dots": false, "navigation":true, "items":5, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>
                    <div class="item" ng-click="selectEntry(item)">
                        <div class="carousel_content">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h5>{{item.name}}</h5>
                                </div>
                                <div class="col-xs-4"><span class="icon icon-plus radius-box rbM marginT10"></span></div>
                            </div>
                        </div>
                        <img src="images/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="moreentires marginT0 pointer" ng-click="showAddEntry()">
                    <span class="icon icon-plus large-plus marginT10"></span>
                    <h3>Add new Entry</h3>
                </a>
            </div>
        </div>
    </div> -->
    <!-- <div class="row contest-single_add-entry" ng-if="data.addEntry">
        <div class="col-sm-12">
            <hr>
            <h3 class="marginB15">
                Add a new entry
                <span class="revision-note mute small" ng-if="contest.entries.length > 0">(This entry is your {{contest.entries.length | ordinal}} revision)</span>
            </h3>
            <form name="newEntry">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contest-single_add-entry__description">
                            <text-angular ng-model="data.addEntryForm.description"></text-angular>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div flow-init="{target: '/upload'}"
                            flow-files-submitted="$flow.upload()"
                            flow-file-success="$file.msg = $message">

                            <div class="drop-target" flow-drop flow-drag-enter="style={border:'2px #eee dashed', background: '#f5f5f5'}" flow-drag-leave="style={}" ng-style="style">
                                <span class="btn btn-info" flow-btn>Upload File</span> &nbsp; or Drag &amp; Drop images to upload
                            </div>

                            <div class="image-preview-list">
                                <div class="image-preview col-sm-4 col-md-3" ng-repeat="file in $flow.files">
                                    <img flow-img="file" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center marginT30">
                        <button class="btn btn-info" ng-disabled="newEntry.$invalid || $flow.files.length === 0">Submit Entry</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
	<!-- <div class="row contest-single_entry" ng-if="data.selectedEntry !== null">
        <div class="col-sm-12">
            <div class="contest-single_entry__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus labore quis esse non reiciendis nobis, dolores eligendi fuga, excepturi aliquid minima aut dolor consectetur velit sequi veniam molestiae maxime accusamus!
            </div>
        </div>

	    <div class="col-md-6">
	        <div class="contest-list contest-list-lb">
	            <div class="row" ng-repeat="rating in data.selectedEntry.ratings">
	                <div class="col-xs-2 text-center"><img src="images/coolestMember.jpg" alt="" class="coolestMemberLBPick"></div>
	                <div class="col-xs-2 ">
	                    <p class="bordRight">{{rating.judge.name}}
	                        <br> Inventor
	                        <br>
	                        <a href="#">{{rating.country_residence}}</a></p>
	                </div>
	                <div class="col-xs-4">
	                    <h4 class="clearfix"><strong class="pull-left">Design</strong> <small class="pull-right">{{rating.design}}</small></h4>
	                    <h4 class="clearfix"><strong class="pull-left">Creativity</strong> <small class="pull-right">{{rating.creativity}}</small></h4>
	                </div>
	                <div class="col-xs-4 text-center">
	                    <h4 class="clearfix"><strong class="pull-left">Industrial</strong> <small class="pull-right">{{rating.industrial}}</small></h4>
	                    <h4 class="clearfix"><strong class="pull-left">Market P.</strong> <small class="pull-right">{{rating.market}}</small></h4>
	                </div>
	            </div>
	            <a class="btn btn-block showmorebtn" ng-if="data.selectedEntry.ratings.length > 4">Show more</a> </div>
	    </div>
	    <div class="col-md-6">
            <div class="chatbox">
                <div class="chatRow" ng-repeat="message in data.selectedEntry.messages">
                    <div class="chat-userSendbox" ng-class="{'chat-comein': user.id === message.user.id, 'chat-send': user.id !== message.user.id}">
                        <div class="chat-content">{{message.body}}</div>
                    </div>
                    <div class="caht-label" ng-class="{'text-right': user.id === message.user.id}">
                        {{message.user.name}} <span>{{message.created_at | amDateFormat:'MMM Do YYYY'}}:</span>
                    </div>
                </div>
            </div>
            <form class="chatsendform">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your message here ..." ng-model="data.messageToSend" fd-enter="sendMessage()">
                    <span class="input-group-addon sendbtn" ng-click="sendMessage()"><span class="glyphicon">Send</span></span>
                </div>
            </form>
	    </div>
	</div> -->
</div>