<span class="icon icon-cross close contest-back" ui-sref="app.contests"></span>
<div class="contest-single">
	<div class="row">
        <div class="col-md-5">
            <div class="projectImg lb" ng-style="{'background-image': (contest.thumbnail) ? 'url(/' + contest.thumbnail + ')': ''}">
                <div class="row rankingMng">
                    <div class="col-xs-4 leftRank" ng-if="activeRole === 'creator'">
                        <h4>Rank</h4>
                        <span class="countValue">{{contest.id | ordinal}}</span>
                    </div>
                    <div class="col-xs-4 leftRank">
                        <h4>Contestants</h4>
                        <span class="countValue">{{contest.num_contestants}}</span>
                    </div>
                    <div class="col-xs-4">
                        <h4>Time to Go</h4>
                        {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                        <span class="countValue">{{ end_time | amDifference : null : 'days' }}</span>
                    </div>
                </div>
            </div>
            <h3 class="projectHeading">{{contest.name}}</h3>
        </div>
        <div class="col-md-7">
            <div class="well contest-single_info-panel">
                <uib-tabset vertical="true" type="pills">
                    <uib-tab heading="General">
                        <div class="row">
                            <div class="col-xs-12 contest-single_description marginT15" ng-bind="contest.description | stripTags" ellipsis
                                ellipsis-append="<a class='read-more'>read more</a>" ellipsis-append-click="showFullText()"></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-9">
                                {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                                <h4 class="clearfix"><strong class="pull-left">Start Time</strong> <small class="pull-right">{{contest.start_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Finish Time</strong> <small class="pull-right">{{end_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Number of Contestants</strong> <small class="pull-right">{{contest.total_entries}}</small></h4>
                            </div>
                            <div class="col-sm-3 text-right"><span class="radius-box marginT10">2nd</span></div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="prizebox">
                                    <li><a>USD 1000 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 600 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 300 + 10% royalties if manufactured</a></li>
                                </ul>
                            </div>
                        </div>

                        <hr>

                        <div class="action-pending" ng-if="data.showJudgeNdaPending">
                            <span class="icon icon-clock"></span> &nbsp; Your application for 'Judge'' is being processed ...
                        </div>

                    </uib-tab>
                    <uib-tab heading="Contestants">
                        <uib-tab-heading>
                            Creators <span ng-if="contest.contestants.length > 0" class="badge pull-right">{{contest.contestants.length}}</span>
                        </uib-tab-heading>
                        <div class="owl-profiles" ng-if="contest.contestants.length > 0" owl-carousel="contest.contestants"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail_url" class="coolestMemberLBPick">
                                        <img ng-src="{{item.thumbnail_url}}" alt="" ng-if="item.thumbnail_url">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        {{user.bio}}
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_origin}}</h4>
                                        <h4>{{item.role}} <!-- <span class="highlighted">8.5/10</span> --></h4>
                                        <h4>Reviews <a class="muted cursor">0 reviews</a></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.num_contestants}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Done</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.contestants.length === 0">There are currently no creators for this contest.</p>
                    </uib-tab>
                    <uib-tab heading="Jury">
                        <uib-tab-heading>
                            Jury <span class="badge pull-right">{{contest.judges.length}}</span>
                        </uib-tab-heading>
                        <div class="owl-profiles" ng-if="contest.judges.length > 0" owl-carousel="contest.judges"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail_url" class="coolestMemberLBPick">
                                        <img ng-src="{{item.thumbnail_url}}" alt="" ng-if="item.thumbnail_url">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        {{user.bio}}
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_origin}}</h4>
                                        <h4 class="capitalize">{{item.role}} <span class="highlighted">0/10</span></h4>
                                        <h4>Reviews  <a class="muted cursor">0 reviews</a></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.num_contestants}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Judged</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.judges.length === 0">There are currently no judges for this contest.</p>
                    </uib-tab>
                    <uib-tab heading="Market">
                        <p class="no-have">There is currently no Market information for this contest.</p>
                    </uib-tab>
                    <uib-tab heading="Contest Official Rules">
                        <div ng-if="contest.rules.length > 0" class="col-xs-12 contest-single_bio marginT15" ng-bind-html="contest.rules | trustedHtml"></div>
                        <p ng-if="contest.rules.length === 0" class="no-have">There are currently no rules set for the contest.</p>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="contest-single_description-full" ng-if="data.contestFullDescription">
                <span class="icon icon-cross close" ng-click="hideFullText()"></span>
                <h3 class="marginT0 marginB15">Contest Description</h3>
                <div ng-bind-html="contest.description | trustedHtml"></div>
            </div>
        </div>
    </div>
	<div class="entries-list" ng-if="contest.entries.length > 0">
        <h2>Entries to evaluate</h2>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-demo overlay" owl-carousel="contest.entries"
                    owl-options='{"pagination": false, "dots": false, "navigation":true, "items":5, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>
                    <div class="item" ng-click="selectEntry(item)" ng-style="{'background-image': (item.thumbnail) ? 'url(/' + item.thumbnail + ')': 'url(/images/1.png)'}">
                        <div class="carousel_content">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4>by {{item.contestant.name}} {{item.contestant.last_name}}</h4>
                                </div>

                                <div class="col-xs-4">
                                    <img class="thumbnail" src="images/icon-user-default.png" alt="" ng-if="!item.contestant.thumbnail_url">
                                    <img class="thumbnail" ng-src="{{item.contestant.thumbnail_url}}" alt="" ng-if="item.contestant.thumbnail_url">
                                </div>

                                <div class="meta-data clearfix">
                                    <p class="small pull-left" ng-if="item.type">{{item.type}}</p>
                                    <p class="small pull-right">#{{item.revisions.length}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <img src="images/1.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row" ng-if="data.selectedEntry !== null">
        <div class="col-sm-12">
            <div class="contest-single_entry__title marginB30">
                <h3>
                    Entry by {{data.selectedEntry.contestant.name}} {{data.selectedEntry.contestant.last_name}}
                    <span class="pull-right">
                        <ul class="list-unstyled list-inline revision-list">
                            <li ng-repeat="revision in data.selectedEntry.revisions | orderBy: '-id'">
                                <a class="cursor" ng-class="{'active': revision.id === data.selectedEntry.id}" ng-click="selectEntry(revision)"># {{(data.selectedEntry.revisions.length - $index)}}</a> <span class="divider" ng-if="$index < (data.selectedEntry.revisions.length - 1)">/</span>
                            </li>
                        </ul>
                    </span>
                </h3>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="contest-single_entry__description" ng-bind-html="data.selectedEntry.description | trustedHtml"></div>
                </div>
                <div class="col-sm-6">
                    <div class="owl-demo" owl-carousel="data.selectedEntry.files"
                        owl-options='{"pagination": false, "dots": false, "navigation":true, "items": 2, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>
                        <div class="item" ng-click="openLightbox(item)" style="background-image: url({{item.url}});">
                            <!-- <img ng-src="{{item.url}}" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 center-block" ng-if="!data.selectedEntry.rating && data.selectedEntry.rating !== null">
            <fd-loader class="center"></fd-loader>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
	    <div class="col-md-6" ng-if="data.selectedEntry.rating || data.selectedEntry.rating === null">
	        <div class="entry-details entry-details-marks">
                <div class="entry-image" ng-style="{'background-image': (data.selectedEntry.thumbnail) ? 'url(/' + data.selectedEntry.thumbnail + ')': 'url(/images/1.png)'}">
                    <h2>{{data.selectedEntry.name}}</h2>
                </div>
                <div class="entry-marks">
                    <h3 class="clearfix heading-bottom-border marginT0">Average Marks</h3>

                    <form name="entryMarks">
                        <fieldset>
                            <label for="creativity">
                                <span class="label-prefix">C</span>
                                Creativity
                            </label>
                            <input id="creativity" ng-model="data.selectedEntry.rating.creativity" type="text" min="1" max="10" class="form-control" placeholder="introduce mark ...">
                        </fieldset>
                        <fieldset>
                            <label for="design">
                                <span class="label-prefix">D</span>
                                Design
                            </label>
                            <input id="design" ng-model="data.selectedEntry.rating.design" type="text" min="1" max="10" class="form-control" placeholder="introduce mark ...">
                        </fieldset>
                        <fieldset>
                            <label for="industrialization">
                                <span class="label-prefix">I</span>
                                Industrialization
                            </label>
                            <input id="industrialization" ng-model="data.selectedEntry.rating.industrial" type="text" min="1" max="10" class="form-control" placeholder="introduce mark ...">
                        </fieldset>
                        <fieldset>
                            <label for="market">
                                <span class="label-prefix">M</span>
                                Market
                            </label>
                            <input id="market" ng-model="data.selectedEntry.rating.market" type="text" min="1" max="10" class="form-control" placeholder="introduce mark ...">
                        </fieldset>

                        <button class="btn btn-info btn-block marginT20" ng-click="saveMarks()" ng-if="!data.selectedEntry.rating.id" ng-disabled="data.savingMarks" ng-class="{'btn-success': data.savedMarks}">
                            {{data.savingMarks ? 'Saving ...' : (data.savedMarks ? 'Saved' : 'Submit')}}
                        </button>
                        <button class="btn btn-info btn-block marginT20" ng-click="saveMarks(data.selectedEntry.rating.id)" ng-if="data.selectedEntry.rating.id" ng-disabled="data.savingMarks" ng-class="{'btn-success': data.savedMarks}">
                            {{data.savingMarks ? 'Saving ...' : (data.savedMarks ? 'Saved' : 'Save')}}
                        </button>
                    </form>
                </div>
            </div>
	    </div>
	    <div class="col-md-6" ng-if="data.selectedEntry.messages">
	        <div class="chatbox">
	            <div class="chatRow" ng-repeat="message in data.selectedEntry.messages">
	                <div class="chat-userSendbox" ng-class="{'chat-send': user.id == message.user.id, 'chat-comein': user.id != message.user.id}">
	                    <div class="chat-content">{{message.body}}</div>
	                </div>
	                <div class="caht-label" ng-class="{'text-right': user.id == message.user.id}">
                        {{message.user.name}} <span>{{message.created_at | amDateFormat:'MMM Do YYYY'}}:</span>
                    </div>
	            </div>

                <p class="no-have no-margin" ng-if="data.selectedEntry.messages.length === 0">There are currently no messages.</p>
	        </div>
            <form class="chatsendform">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your message here ..." ng-model="data.messageToSend" fd-enter="sendMessage()">
                    <span class="input-group-addon sendbtn" ng-click="sendMessage()"><span class="glyphicon">Send</span></span>
                </div>
            </form>
	    </div>
	</div>
</div>