<span class="icon icon-cross close contest-back" ui-sref="app.contests"></span>
<div class="contest-single">
	<div class="row">
	    <div class="col-md-5">
	        <div class="projectImg lb" ng-style="{'background-image': (contest.thumbnail) ? 'url(/' + contest.thumbnail + ')': ''}">
	            <div class="row rankingMng">
                    <div class="col-xs-4 leftRank" ng-if="activeRole === 'creator'">
                        <h4>Rank</h4>
                        <span class="countValue">{{contest.id | ordinal}}</span>
                    </div>
                    <div class="col-xs-4 leftRank">
                        <h4>Contestants</h4>
                        <span class="countValue">{{contest.num_contestants}}</span>
                    </div>
                    <div class="col-xs-4">
                        <h4>Time to Go</h4>
                        {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                        <span class="countValue">{{ end_time | amDifference : null : 'days' }}</span>
                    </div>
                </div>
            </div>
            <h3 class="projectHeading">{{contest.name}}</h3>
	    </div>
	    <div class="col-md-7">
	        <div class="well contest-single_info-panel">
            	<uib-tabset vertical="true" type="pills">
            		<uib-tab heading="General">
                        <div class="row">
                            <div class="col-xs-12 contest-single_description marginT15" ng-bind="contest.description | stripTags" ellipsis
                                ellipsis-append="<a class='read-more'>read more</a>" ellipsis-append-click="showFullText()"></div>
                        </div>
                        <hr />
						<div class="row">
                            <div class="col-sm-9">
	                            {{ end_time = (contest.start_time | amAdd : contest.duration : 'days'); ''}}
                                <h4 class="clearfix"><strong class="pull-left">Start Time</strong> <small class="pull-right">{{contest.start_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Finish Time</strong> <small class="pull-right">{{end_time | amDateFormat:'MMM Do YYYY'}}</small></h4>
                                <h4 class="clearfix"><strong class="pull-left">Number of Contestants</strong> <small class="pull-right">{{contest.total_entries}}</small></h4>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="prizebox">
                                    <li><a>USD 1000 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 600 + 10% royalties if manufactured</a></li>
                                    <li><a>USD 300 + 10% royalties if manufactured</a></li>
                                </ul>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="actions clearfix" ng-if="!data.showJudgeNdaPending && !data.showContestantNdaPending">
                                    <div class="pull-left" ng-if="!data.showContestantNdaSuccess"><a class="btn btn-info" ng-click="becomeJudge()">Become a judge</a></div>
                                    <div class="pull-right" ng-if="!data.showJudgeNdaSuccess"><a class="btn btn-info" ng-click="becomeContestant()">Participate</a></div>
                                </div>
                                <div class="action-pending" ng-if="data.showJudgeNdaPending || data.showContestantNdaPending">
                                    <span class="icon icon-clock"></span> &nbsp; Your application for '{{data.showJudgeNdaPending ? 'Judge' : 'Contestant'}}' is being processed ...
                                </div>
                            </div>
                        </div>
            		</uib-tab>
            		<uib-tab heading="Contestants">
                        <uib-tab-heading>
                            Creators <span ng-if="contest.contestants.length > 0" class="badge pull-right">{{contest.contestants.length}}</span>
                        </uib-tab-heading>
						<div class="owl-profiles" ng-if="contest.contestants.length > 0" owl-carousel="contest.contestants"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail_url" class="coolestMemberLBPick">
                                        <img ng-src="{{item.thumbnail_url}}" alt="" ng-if="item.thumbnail_url">
                                    </div>
                                    <div class="col-sm-8 bio">
                                        {{item.bio}}
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_origin}}</h4>
                                        <h4 class="capitalize">{{item.role}} <!-- <span class="highlighted">8.5/10</span> --></h4>
                                        <h4>Reviews <a class="muted cursor">0 reviews</a></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.num_contestants}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Done</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.contestants.length === 0">There are currently no creators for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Jury">
                        <uib-tab-heading>
                            Jury <span ng-if="contest.judges.length > 0" class="badge pull-right">{{contest.judges.length}}</span>
                        </uib-tab-heading>
						<div class="owl-profiles" ng-if="contest.judges.length > 0" owl-carousel="contest.judges"
                            owl-options='{"pagination": false, "dots": false, "navigation":true, "singleItem":true, "navigationText": [ "<i class=\"icon-chevron-left icon-white\"></i>", "<i class=\"icon-chevron-right icon-white\"></i>" ]}'>>
                            <div class="item creator-profile">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="images/icon-user-default.png" alt="" ng-if="!item.thumbnail_url" class="coolestMemberLBPick">
                                        <img ng-src="{{item.thumbnail_url}}" alt="" ng-if="item.thumbnail_url">
                                        <div class="text-center" style="margin-top:10px;">
                                            <button ng-click="checkFollow(item.areYouFollowed,item.user_id,$event)" ng-class="item.followClass" type="button" ng-bind="item.followText"></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 bio">
                                        {{item.bio}}
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="row rankingMng">
                                    <div class="col-xs-5 leftRank">
                                        <h4>{{item.name}}</h4>
                                        <h4>{{item.country_origin}}</h4>
                                        <h4 class="capitalize">{{item.role}} <!-- <span class="highlighted">0/10</span> --></h4>
                                        <h4>Reviews  <a class="muted cursor">0 reviews</a></h4>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5 leftRank">
                                        <h4 class="col-heading">Notation <br>Number</h4>
                                        <span class="countValue">{{contest.num_contestants}}</span>
                                    </div>
                                    <div class="col-xs-3 col-xs-3-5">
                                        <h4 class="col-heading">Contest <br>Judged</h4>
                                        <span class="countValue">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-have" ng-if="contest.judges.length === 0">There are currently no judges for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Market">
						<p class="no-have">There is currently no Market information for this contest.</p>
            		</uib-tab>
            		<uib-tab heading="Contest Official Rules">
                        <div ng-if="contest.rules.length > 0" class="col-xs-12 contest-single_bio marginT15" ng-bind-html="contest.rules | trustedHtml"></div>
                        <p ng-if="contest.rules.length === 0" class="no-have">There are currently no rules set for the contest.</p>
                    </uib-tab>
            	</uib-tabset>
	        </div>
	    </div>

        <div class="col-sm-12">
            <div class="contest-single_description-full" ng-if="data.contestFullDescription">
                <span class="icon icon-cross close" ng-click="hideFullText()"></span>
                <h3 class="marginT0 marginB15">Contest Description</h3>
                <div ng-bind-html="contest.description | trustedHtml"></div>
            </div>
        </div>

        <div class="col-sm-12" ng-if="data.showJudgeNda">
            <div class="contest-single_description-full">
                <fd-loader class="center" ng-if="data.showJudgeNdaLoading"></fd-loader>
                <span class="icon icon-cross close" ng-click="data.showJudgeNda = false"></span>

                <div ng-if="!data.showJudgeNdaLoading && !data.showJudgeNdaSuccess">
                    <h3 class="marginT0 marginB15">Non Disclosure Agreement</h3>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.

                        <br>
                        <br>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.
                    </div>

                    <div class="nda-actions text-center marginT30">
                        <button class="btn btn-success" ng-click="acceptJudge()">Accept</button>
                        &nbsp;
                        &nbsp;
                        <button class="btn btn-danger" ng-click="data.showJudgeNda = false">Decline</button>
                    </div>
                </div>

                <div class="text-center padding15" ng-if="data.showJudgeNdaSuccess">
                    <br><br>
                    <h4>Your application has been submitted!</h4>
                    <br><br>
                </div>
            </div>
        </div>

        <div class="col-sm-12" ng-if="data.showContestantNda">
            <div class="contest-single_description-full">
                <fd-loader class="center" ng-if="data.showContestantNdaLoading"></fd-loader>
                <span class="icon icon-cross close" ng-click="data.showContestantNda = false"></span>

                <div ng-if="!data.showContestantNdaLoading && !data.showContestantNdaSuccess">
                    <h3 class="marginT0 marginB15">Non Disclosure Agreement</h3>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.

                        <br>
                        <br>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit facilis aspernatur voluptas temporibus expedita eaque,
                        veritatis voluptatibus animi blanditiis perspiciatis numquam at nesciunt harum, eveniet ad sunt, commodi vel odio.
                    </div>

                    <div class="nda-actions text-center marginT30">
                        <button class="btn btn-success" ng-click="acceptContestant()">Accept</button>
                        &nbsp;
                        &nbsp;
                        <button class="btn btn-danger" ng-click="data.showContestantNda = false">Decline</button>
                    </div>
                </div>

                <div class="text-center padding15" ng-if="data.showContestantNdaSuccess">
                    <br><br>
                    <h4>Your application has been submitted!</h4>
                    <br><br>
                </div>
            </div>
        </div>
	</div>
</div>
