<main class="main-login">
    <div class="main-inner">
        <form class="login-form" name="forgotForm" autocomplete="off">

            <h3 class="login-title">Request a new password</h3>
            <p>Enter your email below to request a new password.</p>
			<br>

            <div class="form-msg error alert alert-danger" ng-if="errorMessage.length">
                {{errorMessage}}
            </div>

            <div class="form-group">
                <div class="fm-col-m">
                    <input class="form-control input-lg" ng-model="email" type="email" placeholder="Your email" required>
                </div>
            </div>

            <div class="form-group">
                <div class="fm-col-m">
                    <button type="submit" class="btn btn-block btn-info btn-lg fm-selected" ng-click="login()" ng-disabled="forgotForm.$invalid">Request</button>
                </div>
            </div>

            <div class="form-group form-group-min text-right marginB0">
                <div class="fm-col-m">
                    <a ui-sref="app.auth.login">Login using your password</a>
                </div>
            </div>
        </form>
    </div>
</main>