<div class="row">
    <div class="col-xs-12">
        <ul class="sort-filter" ng-if="expertiseList.length > 0">
            <li class="">
                <a>EXPERT UNDER SELECTION <span class="badge">{{expertiseList.length}}</span></a>
            </li>
            <li>
                <a>EXPERT SELECTED <span class="badge">0</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="grid2">
    <div class="expertise-list fourcols marginB60">
        <div class="expertise-wrap" ng-repeat="expertise in expertiseList track by $index">
            <div class="expertise marginB30">
                <div class="expertise_col expertise_col-list">
                    <ul class="expertise-breakdown">
                        <li ng-if="expertise.expertise_category">{{expertise.expertise_category.name}}</li>
                        <li ng-if="expertise.expertise_subcategory">{{expertise.expertise_subcategory.name}}</li>
                        <li>{{expertise.expertise.name}}</li>
                    </ul>
                </div>
                <div class="expertise_col expertise_col-info">
                    <h4>Main Task<br>
	                    <small>{{expertise.task}}</small>
	                </h4>
                    <h4>Estimated budget: <br><small>{{expertise.budget | currency}}</small></h4>
                    <h4>Lead time: <br> <small>{{expertise.lead_time}}</small></h4>
                    <h4>Expected starting date: <br> <small>{{expertise.start_date | amDateFormat:'MMM Do YYYY' }}</small></h4>
                </div>
                <div class="expertise_col expertise_col-shortlist" ng-if="expertise.selected_bid === null">
                    <h4>Shortlisted Experts: {{expertise.shortlist === undefined ? 0 : expertise.shortlist.length }}</h4>
                    <div class="clearfix" ng-repeat="shortlistBid in expertise.shortlist">
                    <div class="profilePick smallPick pull-left marginR5"><img ng-src="{{shortlistBid.expert.thumbnail_url}}"></div>
                    	<h3 class="pull-left margin0">{{shortlistBid.expert.name}} {{shortlistBid.expert.last_name}}
                    	<br><small>Bid: <a>{{shortlistBid.bid_amount | currency}}</a></small> </h3>
                        <div class="buttons-shortlist clearfix">
                            <button class="btn btn-mini btn-info btn-sm" ng-click="selectExpert(expertise, shortlistBid)">Select</button>
                            <button class="btn btn-mini btn-danger btn-sm" ng-click="removeShortlistExpert(expertise, shortlistBid)">Hide</button>
                        </div>
                    </div>
                </div>
                <div class="expertise_col expertise_col-stat">
                    <h4>Average Bidding: &nbsp; <small>{{1000 | currency}}</small></h4>
                    <h4>Number of Bids: &nbsp; <small>{{expertise.bids.length}}</small></h4>
                    <div class="selected-expert" ng-if="expertise.selected_bid !== null">
                        <h3>Selected Expert</h3>
                        <div class="clearfix">
                            <div class="profilePick largeimg pull-left marginR10"><img ng-src="{{expertise.selected_bid.expert.thumbnail_url}}"></div>
                            <h3 class="marginT10">
                                {{expertise.selected_bid.expert.name}} {{expertise.selected_bid.expert.last_name}}
                                <br> 5.0<br> <small>Bid: {{expertise.selected_bid.bid_amount | currency}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well padding0 experts-bid-list" ng-if="expertise.bids.length > 0 && expertise.selected_bid === null">
                <div class="row">
                    <div class="col-lg-7 isotopeSubDivid">
                        <div class="grid3">
                            <div class="isotope-subItem" ng-repeat="bid in expertise.bids">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="expertise-thumbnail" style="background-image:url({{bid.expert.thumbnail_url}});"></div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <div class="row paddingTB18">
                                            <div class="col-md-5 col-sm-5 border_right">
                                                <h3 class="marginT0 marginB15">{{bid.expert.name}} {{bid.expert.last_name}}</h3>
                                                <h4 class="marginB15"><strong>Bid: </strong>{{bid.bid_amount | currency}}</h4>
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                            	<h5 class="marginT0">Summary:</h5>
                                                <p>{{bid.description}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-4"><a class="btn btn-info marginT10" ng-click="selectExpert(expertise, bid)">Select</a></div>
                                            <div class="col-md-4 col-xs-4"><a class="btn btn-info tbn-orrange marginT10 marginL10 marginR10">Hide</a></div>
                                            <div class="col-md-4 col-xs-4">
                                                <div class="text-right paddingR15"><a class="link-text-underline" ng-click="shortlistExpert(expertise, bid)">Shortlist</a></div>
                                                <div class="text-right paddingR15"><a class="link-text-underline" ng-click="discussExpert(expertise, bid)">Discuss</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 isotopeChatDivid">
                        <fd-messenger thread-id="data.selectedBid.thread_id" ng-if="data.selectedBid"></fd-messenger>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-info center-block marginT30" ng-click="confirmExperts()" ladda="confirmingExperts">
        Confirm Experts
    </button>
</div>
