<fd-loader class="center fixed-center" ng-class="{'opacity_hide': !sectionLoading}"></fd-loader>

<div class="row" ng-if="$state.current.name === 'app.create'" ng-class="{'opacity_hide': sectionLoading}">
    <div class="col-sm-12">
        <div class="draft-wraper">
            <div class="row">
                <div class="col-md-6 paddingR0">
                    <div class="well draftProjectList">
                        <h4>Open an existing Draft</h4>
                        <hr>
                        <div class="draftProjectListInner marginT20">
                            <h4 class="clearfix cursor" ng-repeat="project in allProjects">
                                <a ng-click="goToProject(project)" class="pointer">
                                    <span ng-if="project.name">{{project.name}}</span>
                                    <span ng-if="!project.name">Untitled Project</span>
                                </a>
                                <small class="marginL15" style="color:#29aae2"><dfn>Started on {{project.created_at | amDateFormat:'DD/MM/YYYY' }}</dfn></small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 paddingL0">
                    <div class="well start-newProject">
                        <h1 class="clearfix">
                            <a class="pointer" ng-if="!data.newProjectLoading" ng-click="createNewProject()">
                                <span class="icon icon-plus large-plus pull-left"></span>
                                <span class="padding15 marginL10 pull-left">Start a New Project</span>
                            </a>
                            <a class="pointer" ng-if="data.newProjectLoading">
                                <span class="padding15 marginL10 pull-left">Creating new project ... </span>
                            </a>
                        </h1>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-class="{'opacity_hide': sectionLoading}">
    <div class="row" ng-if="$state.current.name !== 'app.create'">
        <div class="col-md-12 marginT25">
            <div id="projectSteps" class="project-accordion accordionWrap">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="step.isOpen" ng-repeat="step in steps" ng-class="{'done': step.progress >= 1, 'ongoing': (step.ongoing && step.progress !== 1)}">
                        <uib-accordion-heading>
                            <span>{{step.title}}  {{step.progress * 100 | number:0}}%</span>
                        </uib-accordion-heading>
                        <div class="panel_body" ng-bind-html="step.body | trustedHtml"></div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>

    <div class="steps-content relative">
        <fd-loader class="center center-top fixed-center" ng-class="{'opacity_hide': !innerSectionLoading}"></fd-loader>

        <div ui-view="steps" ng-class="{'opacity_hide': innerSectionLoading}"></div>
    </div>
</div>
