// Homepage specific styles
.homepage{
	.notification-section{
		display: none;
	}

	.body-content{
		padding-top: 0;

		.body-content-container{
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}
}

.homepage-banner-section{
	font-size: 32px;
	font-weight: 300;
	color: #fff;
	background-color: #95c54d;
	padding: 25px 15px;
	text-align: center;

	margin-bottom: 28px;

	.homepage-banner-section_text{
		@extend .container;
	}
}

.sliding-tiles{
	position: relative;
	overflow: hidden;

	.sliding-tiles_front, .sliding-tiles_back{
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		@include translate(0, 0);
		@include transition(all 0.3s);
	}

	.sliding-tiles_front{
		top: 0;
	}

	.sliding-tiles_back{
		top: 100%;
	}

	&:hover{
		.sliding-tiles_front, .sliding-tiles_back{
			@include translate(0, -100%);
		}
	}
}

.homepage-expertise{
	padding-top: 83%;

	h3{
		margin: 0;
	}

	.profileList{
		> li{
			width: 100% !important;
			margin: 0 0 8px !important;
		}
	}
}

.homepage-investors{

	h3{
		margin: 0;
	}

	.product-header{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.investor-thumbnail_bio{
		height: 100px;
		overflow: hidden;
	}

	.socialList{
		float: none;
		max-width: 130px;
		margin: 15px auto 0;
	}
}
