.nav-tabs {
    border-bottom-color: #b8babc;
}

.tabsection .nav-tabs li {
    margin-bottom: 16px;
}

.tabsection .nav-tabs li a {
    font-size: 24px;
    padding: 4px 30px;
    color: #6F6F6F;
    font-weight: bold;
    @include rounded-corners(0px);
    @include transition(all .3s ease-out);
}

.tabsection .nav-tabs li.active a,
.tabsection .nav-tabs li:hover a {
    background-color: $secondary-color;
    color: $white-color;
}

.tabsection .nav-tabs li.active a:before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $secondary-color;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    bottom: -10px;
}

.body-content {
    padding: 48px 0;
}

.contest-list {
    background-color: $quaternary-color;
    overflow: hidden;
    .contestImg {
        width: 100%;
        height: 75px;
    }
    .coolestMemberPick {
        width: 50px;
        height: 50px;
        @include rounded-corners(40px);
        border: rgba(161, 163, 165, 0.58) 2px solid;
        margin-top: 12px;
    }
    .coolestMemberLBPick {
        width: 60px;
        height: 60px;
        @include rounded-corners(40px);
        border: rgba(161, 163, 165, 0.58) 2px solid;
        margin-top: 8px;
        margin-right: -15px;
    }
    .coolestMemberBPick {
        border-radius: 50%;
        position: relative;
        top: 10px;
        width: 75%;
    }
    .double-star {
        max-width: 40px;
        text-align: center;
        padding: 15px 0;
    }
}

.contest-list .row:nth-child(2n) {
    background: #d1d3d4;
}

.contestR2 {
    background: #d1d3d4;
}

.contestR3 {
    background: $tertiary-color;
    color: $white-color;
}

.contestR4,
.odd {
    background: $secondary-color;
    color: $white-color;
}

.SkyBgAndWhite {
    background-color: $tertiary-color;
    color: $white-color;
}

.content-contest {
    padding: 18px 0px 14px 0;
    font-size: 14px;
    line-height: 20px;
    margin-left: -10px;
    margin-right: -20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    strong {
        font-size: 20px;
        font-weight: bold;
    }
}

.heading-bottom-border {
    border-bottom: 1px solid #a7a9ac;
    padding-bottom: 5px;
}

.priceGroup {
    .price-bar {
        height: 20px;
        background: #f00;
        width: 100%;
        overflow: hidden;
        .success-price {
            overflow: hidden;
            background-color: $secondary-color;
            float: left;
            width: 0%;
            height: 100%;
            font-size: 14px;
            line-height: 22px;
            color: #fff;
            text-align: center;
            @include transition(width 0.6s ease);
        }
    }
    .pending_price {
        text-align: right;
        margin-top: 2px;
        color: #ec1c24;
    }
}


/*Light Box*/

.modal-header {
    padding: 0;
    margin-bottom: 15px;
}

.modal-header .close {
    font-size: 60px;
    opacity: .8;
    line-height: 50px;
    color: #5c5c5f;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-content {
    @include rounded-corners(0px);
    color: $primaryText-color;
    padding: 30px 30px 70px 30px;
    .well {
        padding: 0;
        @include rounded-corners(0px);
        border: none;
        margin-left: -10px;
        @include box-shadow(none);
    }
}

.modal-content .nav-pills {
    margin-top: 0;
    border: none;
}

.modal-content .nav-pills > li {
    margin-top: 0px;
}

.nav-pills > li > a {
    @include rounded-corners(0px);
    font-size: 20px;
    color: $white-color;
    padding: 20px 15px;
    border: none;
}

.nav-pills > li:nth-child(1) a {
    background: #70a324;
}

.nav-pills > li:nth-child(2) a {
    background: $secondary-color;
}

.nav-pills > li:nth-child(3) a {
    background: #7bbb87;
}

.nav-pills > li:nth-child(4) a {
    background: #5db2b5;
}

.nav-pills > li:nth-child(5) a {
    background: $tertiary-color;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: none;
    color: $primary-color;
    border: none;
}

.nav-pills > li > a {
    &:hover {
        opacity: 0.8;
        -webkit-opacity: 0.8;
        -moz-opacity: 0.8
    }
}

.radius-box {
    background: $secondary-color;
    color: $white-color;
    @include rounded-corners(50px);
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    padding: 8px 0;
}

.radius-box.rbM {
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.vtab-content {
    padding: 15px 25px 10px 0;
}

.modal-content hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.prizebox {
    position: relative;
    padding-left: 50px;
    margin: 0;
}

ul.prizebox:before {
    content: "Prize";
    position: absolute;
    left: 0;
    font-size: 18px;
    font-weight: bold;
}

ul.prizebox:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

ul.prizebox li {
    width: 33.333%;
    float: left;
    list-style-type: none;
    padding-left: 5px;
}

ul.prizebox li a {
    background: $tertiary-color;
    display: block;
    color: $white-color;
    text-decoration: none;
    text-align: center;
    padding: 6px;
    font-size: 15px;
}

ul.prizebox li:nth-child(2) a {
    background: #81bd7c
}

ul.prizebox li:nth-child(3) a {
    background: $secondary-color;
}

.carousel_content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    h4,
    h5 {
        color: $white-color;
        padding: 5px 1px 5px 10px;
    }
}

.carousel_content .meta-data {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
}

.carousel_content .thumbnail {
    width: 45px !important;
    height: 45px !important;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    border-radius: 45px;
    border: rgba(161, 163, 165, 0.58) 2px solid;
    margin-top: 10px;
}

.moreentires {
    background:url(#{$imagesPath}/entries.png);
    display: block;
    height: 170px;
    text-align: center;
    color: $secondary-color;
    // margin: 0 0 0 -30px;
    padding: 22px;
    font-weight: 300;
    background-size: cover;
    @include transition(all .5s ease-out);
}

.moreentires:hover,
.moreentires:focus {
    text-decoration: none;
    color: $primary-color;
}

.large-plus {
    font-size: 70px;
}

.contest-list-lb {
    padding: 0 15px 0 5px;
    margin-top: 15px;
}

.contest-list-lb p {
    margin-top: 10px;
    text-align: center;
    a {
        color: $secondary-color;
    }
}

.bordRight {
    border-right: #b3b5b7 1px solid;
    margin-right: -12px;
    padding-right: 12px;
}

@media (min-width: 992px) {
    .bordRight-md {
        border-right: #b3b5b7 1px solid;
        margin-right: -12px;
        padding-right: 12px;
    }
}

.chatbox {
    background: #e8e8e8;
    margin-top: 15px;
    padding: 35px 40px 20px 40px;
    height: 378px;
    overflow-y: auto;
    &.expertiseChat {
        height: 830px;
        .chat-userSendbox {
            width: 100%;
        }
    }
    &.investChat {
        height: auto;
        padding-bottom: 190px;
        .chat-userSendbox {
            width: 45%;
            &.chat-SupExprt {
                width: 100%;
            }
        }
    }
}

.chatRow {
    margin-bottom: 16px;
}

.chat-userSendbox {
    width: 90%;
    display: table;
}

.chat-content {
    padding: 20px;
    color: $white-color;
    font-size: 15px;
    position: relative
}

.caht-label {
    padding: 5px 0;
    span {
        color: #bbbcbf
    }
}

.chat-comein {
    .chat-content {
        background: #bcbec0;
        &:before {
            content: '';
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 0 solid transparent;
            border-right: 20px solid #bcbec0;
            left: -20px;
        }
    }
}

.chat-send {
    margin-left: auto;
    .chat-content {
        background: $tertiary-color;
        &:after {
            content: '';
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 20px solid $tertiary-color;
            right: -20px;
        }
    }
    .caht-label {
        text-align: right;
        span {
            color: $tertiary-color;
        }
    }
}

.chat-SupExprt {
    background-color: #f15b26;
}

.caht-label {
    &.expertLabel {
        text-align: right;
        span {
            color: #f15b26;
        }
    }
}

.chatsendform {
    margin-top: 20px;
    input {
        background: #e8e8e8;
        padding: 12px 30px;
        height: 50px;
        font-size: 16px;
        color: #333;
    }
    .sendbtn {
        background: $tertiary-color;
        color: $white-color;
        font-weight: bold;
        font-size: 28px;
        @include transition(all .5s ease-out);
        .glyphicon {
            font-family: inherit;
            cursor: pointer;
            padding: 0 10px;
        }
        &:hover {
            background: $black-color;
        }
    }
    &.expertChatSend {
        background-color: #f3f3f3;
        margin-left: -15px;
        margin-right: -2px;
        .form-control {
            border: none;
        }
        input {
            background: #f3f3f3;
        }
    }
    &.investChatSend {
        background-color: #f3f3f3;
        margin-top: 0;
        .form-control {
            border: none;
            background-color: #f3f3f3;
        }
    }
}

.ongoingContast {
    padding: 5px 0 12px 0;
    img {
        margin-right: 10px;
        width: 83px;
    }
}

.AdvertBtn {
    margin-top: -15px;
}

.AdvertBtn a {
    display: block;
    padding: 18px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c01d2e+0,bf1c2d+7,c01f2f+14,bf1c2d+22,bf1c2d+42,c11f2e+45,be1d2c+64,c11e2f+78,c11e2f+100 */
    background: rgb(192, 29, 46);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(192, 29, 46, 1) 0%, rgba(191, 28, 45, 1) 7%, rgba(192, 31, 47, 1) 14%, rgba(191, 28, 45, 1) 22%, rgba(191, 28, 45, 1) 42%, rgba(193, 31, 46, 1) 45%, rgba(190, 29, 44, 1) 64%, rgba(193, 30, 47, 1) 78%, rgba(193, 30, 47, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(192, 29, 46, 1) 0%, rgba(191, 28, 45, 1) 7%, rgba(192, 31, 47, 1) 14%, rgba(191, 28, 45, 1) 22%, rgba(191, 28, 45, 1) 42%, rgba(193, 31, 46, 1) 45%, rgba(190, 29, 44, 1) 64%, rgba(193, 30, 47, 1) 78%, rgba(193, 30, 47, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(192, 29, 46, 1) 0%, rgba(191, 28, 45, 1) 7%, rgba(192, 31, 47, 1) 14%, rgba(191, 28, 45, 1) 22%, rgba(191, 28, 45, 1) 42%, rgba(193, 31, 46, 1) 45%, rgba(190, 29, 44, 1) 64%, rgba(193, 30, 47, 1) 78%, rgba(193, 30, 47, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    &:hover {
        opacity: .9;
        text-decoration: none;
    }
}

ul.tabProjectList {
    padding-left: 0;
    margin: 18px 0;
    // color: $white-color;
}

.radiusBox {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    background: #a7a9ac;
    margin: 15px 3px 5px 3px;
    font-size: 24px;
    @include rounded-corners(50px);
    color: $white-color;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $white-color
    }
    .icon_search {
        background-image:url(#{$imagesPath}/search-icon.png);
        background-repeat: no-repeat;
        display: block;
        height: 100%;
        width: 100%;
        background-position: center;
    }
    .icon_default {
        background-repeat: no-repeat;
        display: block;
        height: 100%;
        width: 100%;
        background-position: center;
    }
    .icon_text {
        background-image:url(#{$imagesPath}/text-icn.png);
        background-repeat: no-repeat;
        display: block;
        height: 100%;
        width: 100%;
        background-position: center;
    }
    .icon_text.skyIcnTxt {
        background-image:url(#{$imagesPath}/text-icn-sky.png);
    }
    .icon_text.greenIcnTxt {
        background-image:url(#{$imagesPath}/text-icn-green.png);
    }
    .icon_search.icon-search-sky {
        background-image:url(#{$imagesPath}/search-icon-sky.png);
    }
    .icon_search.icon_search-green {
        background-image:url(#{$imagesPath}/search-iconGreen.png);
    }
    .icon-dollar {
        background-image:url(#{$imagesPath}/dollar.png);
    }
    &:hover {
        background: #000 !important;
    }
    &.orrange {
        background-color: #f15b26;
        vertical-align: middle;
    }
    &.Lsky {
        background: #4dafc6;
        vertical-align: middle;
    }
}

.radiusBox.sky {
    background: $tertiary-color;
}

.radiusBox.white {
    background: $white-color;
    color: $tertiary-color;
}

.radiusBox.blankandwhite {
    background: $white-color;
    color: #545152;
    margin-left: 20px;
    &:hover {
        background: $quaternary-color !important
    }
}

.radiusBox {
    &.paddingT14 {
        padding-top: 14px;
    }
    &.paddingT15 {
        padding-top: 15px;
    }
    &.marginT0 {
        margin-top: 0;
    }
}

.investr-radiusBox {
    display: table-cell;
    vertical-align: middle;
    &:hover {
        text-decoration: none;
        span {
            text-decoration: none;
        }
    }
}

.userIcon {
    background-image:url(#{$imagesPath}/user.png);
    background-position: center;
    background-color: #6d6f71;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    @include rounded-corners(100%);
    display: inline-block;
}

.showmorebtn {
    font-size: 20px;
    padding: 20px;
    color: inherit;
    background-color: #e8e8e8;
    &.empty {
        text-indent: -99999px;
    }
}

ul.tabProjectList:after {
    content: " ";
    display: table;
    clear: both;
}

.projectImg {
    height: 370px;
    background-image:url(#{$imagesPath}/project1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    position: relative;
    width: 100%;
    color: $white-color;
    h4 {
        font-size: 15px;
        margin-top: 4px;
    }
    .rankingMng {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        > div {
            display: inline-block;
            float: none;
            width: auto;
            padding: 0 30px;
        }
    }
    .project-profile img {
        width: 60px;
        @include rounded-corners(40px);
        height: 60px;
        border: rgba(161, 163, 165, 0.58) 2px solid;
        &:hover {
            border-color: rgba(84, 84, 84, 0.58);
        }
    }
}

.projectImg.lb {}

.leftRank {
    border-right: #8b8989 2px solid;
    margin-right: -5px;
}

.countValue {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    display: block;
}

.border_right {
    border-right: #8b8989 2px solid;
}

@media (min-width: 992px) {
    .border_right-md {
        border-right: #8b8989 2px solid;
    }
}

.projectHeading,
.headingWithBg {
    background: #95c54d;
    margin: 0;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
    color: $white-color;
}

ul.tabProjectList li {
    float: left;
    list-style: none;
    margin-right: 2%;
    width: 49%;
    &:nth-child(3n+0) {
        margin-right: 2%;
    }
    &:nth-child(2n+0) {
        margin-right: 0;
    }
    margin-bottom: 2%;
    cursor: pointer;
    &:nth-child(1n) .projectImg {
        background-image:url(#{$imagesPath}/project1.jpg);
    }
    &:nth-child(2n) .projectImg {
        background-image:url(#{$imagesPath}/project2.jpg);
    }
    &:nth-child(3n) .projectImg {
        background-image:url(#{$imagesPath}/project3.jpg);
    }
    &:nth-child(4n) .projectImg {
        background-image:url(#{$imagesPath}/project4.jpg);
    }
    &:nth-child(5n) .projectImg {
        background-image:url(#{$imagesPath}/project5.jpg);
    }
    &:nth-child(6n) .projectImg {
        background-image:url(#{$imagesPath}/project6.jpg);
    }
}

ul.tabProjectList.threeCol li {
    width: 32.5%;
    margin-right: 1.22%;
    &:nth-child(3n+0) {
        margin-right: 0;
    }
}

ul.tabProjectList.fourCol li {
    width: 24%;
    margin-right: 1.33%;
    &:nth-child(4n+0) {
        margin-right: 0;
    }
}

ul.tabProjectList li:hover {
    .projectImg {
        opacity: 0.85;
    }
}

.tabProjectList.withprojectdetail {
    margin-top: 12px;
}

.tabProjectList.withprojectdetail li {
    width: 100%;
    .projectImg {
        background-image:url(#{$imagesPath}/coolest.jpg) !important;
    }
}

hr {
    border-bottom: 1px solid #c5c7c9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bgBox-quaternary {
    background: $quaternary-color;
    padding: 2px 25px 20px 25px;
    margin-top: 10px;
    position: relative;
}

ul.priceList {
    padding-left: 0;
    margin-right: 0;
    counter-reset: my-badass-counter;
}

ul.priceList li {
    list-style: none;
    background: #29aae2;
    margin: 12px 0;
    padding: 13px;
    text-align: center;
    color: $white-color;
    font-size: 16px;
    position: relative;
    &:before {
        content: counter(my-badass-counter);
        counter-increment: my-badass-counter;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold;
        background: $white-color;
        padding: 8px;
        height: 100%;
        font-size: 24px;
        color: #29aae2;
    }
    &:nth-child(2n) {
        background: #81bd7c;
    }
    &:nth-child(2n):before {
        color: #81bd7c;
    }
    &:nth-child(3n) {
        background: #95c54d;
    }
    &:nth-child(3n):before {
        color: #95c54d;
    }
}

.profilePick {
    padding: 7px 0 5px 0;
    img {
        width: 60px;
        @include rounded-corners(101%);
        height: 60px;
        border: rgba(161, 163, 165, 0.88) 2px solid;
        margin-right: 5px;
        &:hover {
            border-color: rgba(94, 94, 95, 0.7);
        }
    }
    &.medium {
        img {
            width: 72px;
            height: 72px;
            border: #929497 2px solid;
            &:hover {
                border-color: #79797a;
            }
        }
    }
    &.largeimg {
        img {
            width: 97px;
            height: 97px;
            border-width: 3px;
        }
    }
    &.tooLarge {
        img {
            width: 135px;
            height: 135px;
            border: #929497 4px solid;
            &:hover {
                border-color: #79797a;
            }
        }
    }
}

.profilePick.smallPick {
    img {
        width: 42px;
        height: 42px;
    }
}

.profilePick.tooSmall {
    img {
        width: 27px;
        height: 27px;
        border-width: 1px;
    }
}

.colRanking {
    padding: 20px 0px 10px 0px;
    h4 {
        font-size: 15px;
        text-align: center;
        margin-top: 2px;
    }
    big {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
}

.btn {
    @include rounded-corners(0px);
}

.btn-info {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 12px;
    &.tbn-orrange {
        background-color: #f15b26;
        border-color: #f15b26;
        padding: 10px 18px;
    }
}

.btn-black {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 12px;
    background-color: $primary-color;
    color: $white-color;
    &:hover,
    &:focus {
        color: $white-color;
    }
}

.btn-info.backbtn {
    background: #333333;
    border-color: #2b2c2c;
    position: absolute;
    left: 0;
    margin-top: 20px;
}

.btn-info.backbtn:active:hover {
    background: #000;
    border-color: #333;
}

.btn-success {
    background: $secondary-color;
    font-size: 20px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    padding: 9px 20px;
}

.btn-success:hover {
    background: #8ebe47;
}

.btn_default {
    font-weight: 300;
    font-size: 20px;
    height: 48px;
    text-transform: capitalize;
    padding: 11px 20px;
    min-width: 100px;
}

.btnGray {
    background-color: #6d6f71;
    border-color: #6d6f71;
    &:hover,
    &:focus,
    &:active {
        background-color: #505254;
        border-color: #454648;
    }
}

ul.itemWithHover {
    padding: 0;
    li {
        list-style-type: none;
        float: left;
        width: 50%;
        padding-right: 7px;
    }
}

.project-itemRow {
    padding-top: 25px;
}

.project-thumbnail {
    position: relative;
    overflow: hidden;
    border: 0;
    @include rounded-corners(0px);
    padding: 0;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    .project-hover {
        background:rgba(0, 0, 0, 0.6) url(#{$imagesPath}/view.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        height: 0;
        width: 100%;
        z-index: 2;
        @include transition(height 0.3s ease);
    }
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, 0) 49%, rgba(0, 0, 0, 0.88) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, 0) 49%, rgba(0, 0, 0, 0.88) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, 0) 49%, rgba(0, 0, 0, 0.88) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .paypal-icn {
        position: absolute;
        right: 12px;
        bottom: 12px;
        z-index: 1;
    }
    &:hover .project-hover {
        height: 100%;
    }
}

.project-itemMng {
    margin: 5px 0 17px 0;
    .project-thumbnail {
        height: 320px;
    }
    .project-caption {
        height: 320px;
    }
    .captionDesc {
        height: 372px;
    }
}

.project-caption {
    margin-left: -30px;
    height: 280px;
    margin-bottom: 0;
    overflow: hidden;
    h3 {
        margin-top: 0;
        line-height: 18px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .progress {
        margin-bottom: 0;
    }
}

.project-description {
    background: #f2f2f2;
    margin-left: -30px;
    min-height: 20px;
    padding: 19px;
    height: 372px;
    h3 {
        margin-top: 0;
        line-height: 18px;
        padding-bottom: 10px;
        font-size: 20px;
    }
}

.leadershipConnection {
    display: inline-block;
    overflow: hidden;
    max-width: 415px;
    position: relative;
    min-height: 74px;
    &:before {
        content: '';
        display: block;
        border: dashed 1px rgba(161, 163, 165, 0.88);
        position: absolute;
        width: 100%;
        top: 45px;
    }
    .profilePick.medium img {
        margin-right: 0;
    }
    a {
        color: $secondary-color;
    }
}

.progress {
    &.redbg {
        background-color: red
    }
}

.thumbnail {
    position: relative;
    overflow: hidden;
    margin-bottom: 7px;
    border: 0;
    @include rounded-corners(0px);
    padding: 0;
}

.thumbnail img {
    height: 132px;
}

.caption {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.63);
    width: 100%;
    height: 100%;
    padding: 2%;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

//Expert Page
.parent-psd-to-html {}

.psd-to-html {
    background:url(#{$imagesPath}/psd-to-html.jpg);
    text-align: center;
    color: $white-color;
    font-size: 20px;
    height: 74px;
    background-size: cover;
    padding: 5px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    min-width: 100px;
    background-repeat: no-repeat;
}

.connectingPic {
    display: inline-block;
    max-width: 140px;
    float: left;
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: 74px;
    padding: 7px 0 5px 0;
    img {
        width: 45px;
        height: 45px;
        margin-right: 0;
        position: relative;
    }
    &:before {
        content: '';
        display: block;
        border: dashed 1px rgba(161, 163, 165, 0.88);
        position: absolute;
        width: 100%;
        top: 50%;
    }
}

.desc-connection {
    height: 74px;
    padding: 15px 15px 4px 15px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    strong {
        font-size: 17px;
    }
}

a.three-dot {
    padding-left: 10px;
    span {
        width: 8px;
        height: 8px;
        background: #929497;
        display: inline-block;
        margin-right: 3px;
        @include rounded-corners(25px);
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &:hover span {
        background: #333;
    }
}

.search {
    padding: 0;
    box-sizing: border-box;
    position: relative;
    input[type=text] {
        width: 100%;
        color: #444;
        background: #e7e7e7;
        border: 0;
        padding: 2px 10px;
        font-size: 16px;
        height: 28px;
        outline: none;
    }
    input[type=submit] {
        width: 30px;
        position: absolute;
        right: 0;
        top: 0;
        height: 28px;
        border: 0;
        background: #bbbdbf url(#{$imagesPath}/search-icon.png) no-repeat 50% 50%;
        background-size: 15px;
        text-indent: -9999px;
        cursor: pointer;
        &:hover {
            background-color: #aeaeaf;
        }
    }
}

ul.list-inline-group {
    padding: 8px 0 0px 0;
    position: relative;
    li {
        display: inline-block;
        float: left;
        padding-right: 35px;
        font-size: 18px;
        font-weight: 300;
        a {
            color: #6d6e70;
            span.circle {
                background-color: #6e6f70;
                color: $white-color;
                min-width: 25px;
                height: 25px;
                text-align: center;
                font-size: 70%;
                line-height: 16px;
                display: inline-block;
                padding: 5px;
                @include rounded-corners(50px);
                margin-left: 34px;
            }
        }
        a.is-checked {
            color: $secondary-color;
            text-decoration: none;
            span.circle {
                background-color: $secondary-color;
            }
        }
    }
    li.separator-nav {
        &:after {
            display: inline-block;
            content: "/";
            position: absolute;
            font-size: 28px;
            padding-left: 13px;
            font-weight: 300;
            color: rgba(51, 51, 51, 0.30);
            top: -1px;
        }
    }
    form {
        width: 200px;
    }
    &:after {
        display: block;
        content: '';
        clear: both;
        height: 0;
    }
}

ul.list-inline-group {
    &.expertise-group {
        .separator-nav {
            &:after {
                top: 2px;
            }
        }
    }
    &.investors-group {
        li {
            padding-right: 23px;
            &.separator-nav {
                &:after {
                    top: 2px;
                    padding-left: 8px;
                }
            }
            a {
                letter-spacing: -.1px;
                span.circle {
                    margin-left: 10px;
                }
            }
        }
    }
}

.grid {
    padding-top: 10px;
    margin-right: -50px;
    &.investGrid {
        .element-item {
            width: 49%;
            padding-right: 30px;
            padding-bottom: 30px;
        }
    }
    .element-item {
        float: left;
        width: 35%;
        padding-right: 50px;
        padding-bottom: 50px;
        .well {
            margin-bottom: 0;
        }
        h1,
        h2,
        h3 {
            margin: 0;
        }
    }
    .item-small {
        width: 30%;
    }
}

.product-thumbnail {
    display: block;
    height: 308px;
    line-height: 1.42857;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    @include transition(border 0.2s ease-in-out);
    .product-header {
        text-align: center;
        background: rgba(0, 0, 0, 0.63);
        margin: 0;
        padding: 15px;
        color: $white-color;
    }
    .product-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        text-align: right;
        font-size: 18px;
        font-weight: 300;
        color: $white-color;
        left: 0;
        .radiusBox {
            font-size: 33px;
            line-height: 30px;
            font-family: arial;
            font-weight: bold;
        }
    }
    .product-footer.headingWithBg {
        text-align: center;
    }
}

.project-footer {
    background: $secondary-color;
    padding: 12px;
    color: $white-color;
    a {
        color: $white-color;
    }
}

.project-block-event.showevent {
    margin-top: 10px;
    a {
        color: $secondary-color;
    }
}

.project-block-event {
    background:url(#{$imagesPath}/project-block.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 45px;
    text-align: center;
    padding: 74px 20px 30px 20px;
    margin-bottom: 18px;
    width: 100% !important;
    a {
        color: $tertiary-color;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $primary-color
        }
        .icon-cross {
            font-size: 150px;
            font-weight: 300;
        }
        .icon-plus {
            font-size: 150px;
            font-weight: 300;
        }
        h3 {
            padding-top: 18px;
        }
    }
}

.draft-wraper {
    width: 100% !important;
}

.start-newProject {
    background: $primary-color;
    padding: 29px;
    height: 157px;
    h1 {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: $secondary-color;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $white-color;
        }
    }
}

//Circle Image Whith Hover
.grid .circle-item {
    float: left;
    margin: 5px 40px 35px 0;
}

.circle-content {
    position: relative;
    width: 196px;
    @include rounded-corners(50%);
    text-align: center;
}

.circle-content.circleEffect {
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    perspective: 900px;
}

.circle-content.circleEffect a.circle-link {
    color: $white-color;
    display: block;
    position: relative;
    height: 196px;
}

.circle-content.circleEffect .info {
    @include transition(all 0.35s ease-in-out);
    @include transform-style(preserve-3d);
}

.circle-content .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    @include rounded-corners(50%);
    @include transition(all 0.35s ease-in-out);
    border: 7px solid #e8e8e9;
}

.circle-content .img {
    position: relative;
    width: 100%;
    height: 100%;
    @include rounded-corners(50%);
}

.circle-content .img img {
    @include rounded-corners(50%);
    width: 100%;
    height: 100%;
    padding: 5px;
}

.circle-content .info {
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    text-align: center;
    @include rounded-corners(50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: $white-color;
}

.circle-content.circleEffect a:hover .info .info-back {
    visibility: visible;
}

.circle-content.circleEffect .info .info-back {
    visibility: hidden;
    @include rounded-corners(50%);
    width: 100%;
    height: 100%;
    padding: 5px;
    color: $white-color;
    display: table;
    background: rgba(35, 31, 32, 0.85);
    @include transform(rotate3d(0, 1, 0, 180deg));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.circle-content.circleEffect a:hover .info {
    @include transform(rotate3d(0, 1, 0, -180deg));
}

.circle-content.circleEffect .info .info-back p {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.circle-content h3 {
    margin: 0 0 5px 0;
    padding: 12px 0 5px 0;
    border-bottom: #b9bbbd 1px solid;
    font-size: 23px;
}

.circle-content ul.socialList {
    display: table;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 0;
}

.accordionWrap {
    width: 100%;
    overflow: hidden;
    height: 0;
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
    &.sixac {
        .panel-group {
            .panel-default:nth-child(2n) {
                .panel-heading {
                    background-color: #86be71;
                }
            }
            .panel-default:nth-child(3n) {
                .panel-heading {
                    background-color: #76b990;
                }
            }
            .panel-default:nth-child(4n) {
                .panel-heading {
                    background-color: #64b4ab;
                }
            }
            .panel-default:nth-child(5n) {
                .panel-heading {
                    background-color: #4dafc6;
                }
            }
            .panel-default:nth-child(6n) {
                .panel-heading {
                    background-color: #29aae2;
                }
            }
        }
        .panel-heading {
            padding: 11px 20px;
            .panel-title {
                a {
                    font-size: 29px;
                }
            }
            &:hover {
                opacity: .9;
            }
        }
        .panel-body {
            height: 821px;
            .panel_body {
                width: 790px;
                height: 465px;
                p {
                    padding: 5px 0;
                }
            }
        }
    }
}

.project-accordion {
    .panel-group {
        width: 500px;
        z-index: 100;
        -webkit-backface-visibility: hidden;
        @include transform(translateX(-100%) rotate(-90deg));
        @include transform-origin(right top);
    }
    .panel-default > .panel-heading {
        color: $white-color;
        background-color: $secondary-color;
        @include rounded-corners(0px);
        @include transition(all .5s ease-out);
        &:hover,
        &:focus {
            background-color: #89b942;
        }
    }
    .panel-heading {
        width: 500px;
        padding: 19px 20px;
    }
    .panel-title {
        height: auto;
    }
    .panel-title a {
        text-align: center;
        text-decoration: none;
        padding: 0;
        display: block;
        margin: 0;
        font-size: 30px;
    }
    .panel-body {
        border-top: none !important;
        height: 715px;
    }
    .panel-group .panel {
        @include rounded-corners(0px);
        background: #e8e8e8;
        border: 0;
    }
    .panel-group .panel + .panel {
        margin-top: 0;
    }
    .panel-group .panel img {
        margin-left: 400px;
        margin-top: 800px;
        position: absolute;
    }
    .panel_body {
        @include transform(translateX(-90%) rotate(90deg));
        width: 700px;
        padding: 2px 0px 2px 30px;
        height: 458px;
        @include transform-origin(80% 119%);
        font-size: 16px;
        font-weight: 300;
        .btn-info {
            font-weight: normal
        }
        .btn.btn-info {
            background: $tertiary-color;
            font-weight: normal;
        }
    }
}

.project-form {
    padding: 0 15px;
    .project-form-row {
        padding-right: 55px;
        position: relative;
        margin-bottom: 28px;
    }
    input,
    textarea {
        width: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        font-style: italic;
    }
    textarea {
        resize: none;
        height: 140px;
    }
    .fileUpload {
        position: relative;
        font-size: 16px;
        font-weight: 300;
        overflow: hidden;
        color: $tertiary-color;
        width: 100px;
        input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
    input[type="submit"] {
        width: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 35px;
        font-style: normal;
        font-weight: normal;
        margin-top: 0;
    }
    .VProgress-aligment {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 24px;
    }
}

.progress-vertical {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    @include rounded-corners(25px);
    text-align: center;
    .progress-bar-vertical {
        width: 100%;
        height: 0;
        font-size: 14px;
        line-height: 22px;
        padding-top: 50%;
        color: #fff;
        text-align: center;
        background-color: $tertiary-color;
        @include transition(all 0.6s ease);
    }
    .index-value {
        position: absolute;
        top: 46%;
        text-align: center;
        width: 100%;
        color: #000;
    }
    &:hover .progress-bar-vertical {
        background-color: #269bce;
    }
}

.radiobox {
    label {
        cursor: pointer;
        i {
            display: inline-block;
            height: 25px;
            position: relative;
            top: 8px;
            font-style: normal;
            color: #6d6f71;
        }
        span {
            font-weight: normal;
            margin-right: 15px;
            display: inline-block;
            font-size: 15px;
            line-height: 25px;
            color: gray;
        }
        input[type="radio"] {
            display: none;
        }
        input[type="radio"] + i:before {
            border: 5px solid;
            @include rounded-corners(18px);
            height: 25px;
            width: 25px;
            display: inline-block;
        }
        input[type="radio"]:checked + i {
            position: relative;
            -webkit-animation: icon-beat 0.1s ease;
            animation: icon-beat 0.1s ease;
        }
        input[type="radio"]:checked + i + span {
            @include transition(all 0.1s ease);
        }
        input[type="radio"] + i:before {
            content: "";
        }
        input[type="radio"]:checked + i:before {
            content: "";
            background-color: #6d6f71;
            border-color: #6d6f71;
        }
        input[type="radio"]:checked + i + span,
        input[type="radio"]:checked + i:before {
            color: #6d6f71;
        }
    }
}

.radiobox.radioboxWhiteBase {
    padding: 15px 0;
    input[type="radio"] + i:before {
        background-color: $white-color;
    }
    label {
        span {
            color: $white-color;
            padding-left: 8px;
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
        }
        i {
            color: $white-color;
        }
        input[type="radio"]:checked + i + span {
            color: $white-color;
        }
        input[type="radio"]:checked + i:before {
            color: $white-color;
            background-color: $tertiary-color;
            border-color: $white-color;
        }
    }
}

.radiobox {
    &.radioboxInvestor {
        padding: 15px 0;
        input[type="radio"] + i:before {
            width: 18px;
            height: 18px;
            border-width: 3px;
            background-color: #6d6f71;
        }
        label {
            display: block;
            i {
                top: 3px;
            }
            input[type="radio"]:checked + i:before {
                background-color: transparent;
            }
        }
    }
}

input.inputField {
    padding: 10px;
    min-width: 250px;
    margin-right: 15px;
}

input.inputFieldGray {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}

textarea.grayTextareaFiled {
    background-color: #f2f2f2;
    border: none;
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
    height: 87px;
}

ul.list-unstyled.radioboxWhiteBase li {
    margin-bottom: 10px;
}

.geography-radiobox {
    float: left;
    width: 325px;
}

.location-project {
    display: inline-block;
    width: 692px;
}

.span-or {
    display: inline-block;
    font-size: initial;
    color: $tertiary-color;
    padding-right: 15px;
    padding-left: 10px;
}


/*Dashbord Tab*/

.navFixContent {
    overflow-y: auto;
    padding-bottom: 10px;
    .container {
        padding-bottom: 30px;
    }
    .radius-box.rbM {
        color: $black-color;
    }
    ul.list-inline-group {
        margin-bottom: 30px;
        li {
            a {
                color: $white-color;
            }
        }
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.dashbord-tab > ul {
    list-style-type: none;
    padding: 0;
    border-bottom: none;
    margin-bottom: 50px;
    li {
        // padding-right: 105px;
        width: 35%;
        text-align: center;
        a {
            border: 2px solid rgba(41, 170, 226, 0);
            font-size: 34px;
            text-decoration: none;
            color: $white-color;
            font-weight: 300;
            padding-bottom: 4px;
            display: inline-block;
        }
    }
    &:after {
        display: block;
        content: '';
        clear: both;
        height: 0;
    }
}

.dashbord-tab > .nav-tabs > li.active > a,
.dashbord-tab > .nav-tabs > li.active > a:hover,
.dashbord-tab > .nav-tabs > li > a:hover,
.dashbord-tab > .nav-tabs > li.active > a:focus {
    color: $white-color;
    background: none;
    border: 2px solid rgba(41, 170, 226, 0);
    border-bottom-color: $tertiary-color;
}

img.editableProfileimage {
    @include rounded-corners(100px);
    border: #929496 5px solid;
    width: 170px;
    margin-bottom: 10px;
}

.skillsList {
    a {
        text-decoration: underline;
        color: $white-color;
        padding-bottom: 10px;
        display: inline-block;
        font-style: italic;
        &:hover {
            text-decoration: none
        }
    }
}

.advertising {
    margin-bottom: 15px;
    padding-right: 25px;
    width: 100% !important;
    .advertising-close {
        margin-top: 80px;
        margin-bottom: 50px;
        button.close {
            margin-top: -32px;
            color: $white-color;
            font-size: 50px;
            font-weight: 300;
            line-height: 20px;
            opacity: 8;
        }
    }
    .modal-content {
        min-height: 250px;
    }
    a {
        color: inherit;
    }
}

//Grabe
span.today {
    background: $secondary-color;
    color: $white-color;
    padding: 5px 5px 3px 5px;
    display: inline-block;
}

a.bidNow {
    display: block;
    padding: 52px 0;
    background: $tertiary-color;
    text-align: center;
    color: $white-color;
    font-size: 20px;
    margin-left: -15px;

    transition: none;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $white-color;
        background-color: $secondary-color;
    }

    &.danger{
        background-color: $brand-danger;

        &:hover, &:focus{
            background-color: $brand-danger;
        }
    }

}

a.action-bell {
    display: block;
    height: 132px;
    width: 132px;
    background: $tertiary-color;
    background-image:url(#{$imagesPath}/bell.png);
    background-repeat: no-repeat;
    text-align: center;
    color: $white-color;
    font-size: 20px;
    @include rounded-corners(51%);
    background-position: center;
}

.grabeTable {
    font-size: 18px;
    font-weight: 300;
}

.table.grabeTable tr th {
    font-weight: 400;
    font-size: 20px;
    padding: 8px 15px;
    text-align: center;
    &:last-child span:after {
        background: none
    }
}

.table.grabeTable tr th span {
    position: relative;
    padding: 2px 0;
    font-weight: 300;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    &:after {
        display: block;
        position: absolute;
        right: -13px;
        content: '';
        width: 2px;
        top: 0;
        height: 100%;
        background: #b3b4b7;
    }
}

.table.grabeTable tr td {
    padding: 15px;
    text-align: center;
}

.grabeTable tr td:first-child,
.grabeTable tr th:first-child {
    width: 30%;
    text-align: left;
    padding-left: 30px;
}

// Bid now panel

.bid-now-panel{
    label{
        display: block;
        width: 90%;

        > span{
            margin-bottom: 5px;
            display: block;
        }

        .inputgroup{
            position: relative;

            > span{
                position: absolute;
                top: 33px;
                font-size: 13px;
                color: #8c8c8c;

                &.prefix{
                    left: 15px;
                }
            }

            input{
                padding-left: 60px;
            }
        }

        input{
            box-shadow: none;
            border-radius: 0;
            margin-bottom: 5px;

            &:focus{
                border-color: $fd-green;
                box-shadow: none !important;
            }

            &.ng-invalid{
                border-color: $brand-danger !important;
            }
        }

        > small{
                color: #a2a2a2;
            font-style: italic;
        }
    }

    .total-cost{
        font-weight: bold;
        text-align: center;
        display: block;
        font-size: 20px;
        margin-bottom: 12px;
    }
}

//Registration
.steps-label {
    font-size: 16px;
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.registn-progress {
    height: 40px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
    .progress-bar {
        font-size: 22px;
        white-space: nowrap;
        font-weight: 300;
        line-height: 42px;
    }
    .done-formStep {
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background: #426b12;
            position: absolute;
            top: 0;
            right: -18px;
            @include rounded-corners(50px);
        }
        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background: #e7e7e7;
            position: absolute;
            top: 0;
            right: -12px;
            @include rounded-corners(50px);
        }
    }
    .progress-bar-remain {
        background-color: #528616;
        &.hidetext-remain {
            text-indent: -9999px;
        }
    }
}

.primaryinterestList {
    label {
        padding-right: 20px;
    }
}

.radio-rel-content {
    display: none;
    @include transition(height .6s ease-out);
}

.radiobox.radioboxGrayBase {
    padding: 5px 0 0 0;
    input[type="radio"] + i:before {
        background-color: #e7e7e7
    }
    label {
        span {
            color: $black-color;
            padding-left: 8px;
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
        }
        i {
            color: #e7e7e7;
        }
        input[type="radio"] + i:before {
            border-width: 4px;
        }
        input[type="radio"]:checked + i + span {
            color: $black-color;
        }
        input[type="radio"]:checked + i:before {
            background-color: $tertiary-color;
            border-color: #e7e7e7;
        }
    }
}

.radiTrueContent {
    padding: 10px 0;
}

.step-registration {
    padding-bottom: 12px;
    .inputFieldGray {
        margin-right: 8px;
    }
    textarea.grayTextareaFiled {
        width: 100%;
    }
}

label.select-style {
    position: relative;
    margin-right: 5px;
    select {
        min-width: 208px;
        padding: 8px 46px 8px 20px;
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        background: #f2f2f2;
        color: #888;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    &:before {
        ontent: '';
        right: 6px;
        top: 0px;
        width: 20px;
        height: 20px;
        background-color: #f2f2f2;
        position: absolute;
        pointer-events: none;
        display: block;
    }
    &:after {
        content: '';
        background-image:url(#{$imagesPath}/downarrow.png);
        background-repeat: no-repeat;
        right: 12px;
        top: 0;
        width: 20px;
        height: 100%;
        background-position: 0 center;
        position: absolute;
        pointer-events: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    label.select-style select {
        padding-right: 46px
    }
}

.radiobox.yearly-ammoutBox {
    padding: 15px 0 5px 0;
    input[type="radio"] + i:before {
        background-color: #6d6e70;
        height: 100px;
        width: 100px;
        @include rounded-corners(100px);
        border: 0;
    }
    label {
        position: relative;
        line-height: 0;
        margin-right: 16px;
        span {
            color: $white-color;
            padding-top: 38px;
            font-size: 22px;
            font-weight: 300;
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            text-align: center;
            margin: 0;
        }
        i {
            color: $white-color;
            height: 100px;
            top: 0;
        }
        input[type="radio"]:checked + i + span {
            color: $white-color;
        }
        input[type="radio"]:checked + i:before {
            color: $white-color;
            background-color: $tertiary-color;
            border-color: $white-color;
        }
    }
}

.rgbBtn {
    min-width: 195px;
    margin-right: 5px;
    font-weight: 400;
}

a.homeLink {
    background:url(#{$imagesPath}/home-icon.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: $secondary-color;
    padding: 15px 0 3px 40px;
    display: inline-block;
}

.spanBgText {
    background: #f05a28;
    color: $white-color;
    display: inline-block;
    padding: 2px 4px;
}

.spanBgText.orrangeBG {
    background: #f6921e;
}

.investBtn {
    background: $tertiary-color;
    padding: 15px 19px 15px 30px;
    color: $white-color;
    font-size: 22px;
    position: relative;
}

.investBtn small {
    font-size: 85%;
    font-weight: 300;
    margin-bottom: 9px;
}

.investBtn input {
    width: 120px;
    height: 35px;
    font-size: 16px;
    padding: 5px 10px;
    color: #333;
    position: relative;
    top: -7px;
}

.investBtn .modify {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 12px;
    display: inline-block;
    a {
        color: $white-color;
        @include transition(none);
    }
}

.descSlider {
    padding: 15px 10px;
    .profilePick {
        margin-bottom: 24px;
    }
    h3 {
        font-size: 22px;
        padding-top: 10px;
    }
    a {
        color: $secondary-color;
    }
    .owl-buttons {
        .owl-prev,
        .owl-next {
            background-color: inherit !important;
        }
    }
}

.desc_invest {
    float: right;
}

.isotope-item {
    width: 100%;
    padding: 15px 0;
    .well {
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
    h3 {
        line-height: 22px;
        font-size: 21px;
    }
    .task-coll {
        background-color: #f3f3f3;
        min-height: 352px;
    }
}

.coll-bord {
    &:after {
        display: block;
        content: '';
        clear: both;
        background: #b1b2b5;
        width: 1px;
        height: 500px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.isotope-subItem {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    .btn-info {
        min-width: 135px;
        font-size: 20px;
    }
    .link-text-underline {
        font-size: 20px;
        vertical-align: bottom;
        font-weight: 300;
        padding-top: 30px;
        display: inline-block;
    }
}

.isotopeSubDivid {
    border-right: #b1b3b6 1px solid;
    padding-right: 0;
    margin-bottom: -20px;
}

.isotopeChatDivid {
    border-left: #b1b3b6 1px solid;
    margin-left: -1px;
    padding-left: 15px;
}

.expertise-thumbnail {
    height: 188px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, 0) 49%, rgba(0, 0, 0, 0.88) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, 0) 49%, rgba(0, 0, 0, 0.88) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, 0) 49%, rgba(0, 0, 0, 0.88) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}

.investors-grid {
    h3 {
        font-size: 21px;
    }
}

.amount-heading {
    background-color: $tertiary-color;
    color: $white-color;
    text-align: center;
    padding: 10px;
    margin-bottom: 22px;
    margin-top: 30px;
}

.amount-group {
    &:after {
        display: block;
        content: '';
        clear: both;
        height: 0;
    }
    .amount-bar {
        height: 36px;
        background: $secondary-color;
        width: 100%;
        overflow: hidden;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        .amount-lefBar {
            overflow: hidden;
            background-color: $secondary-color;
            float: left;
            width: 0%;
            height: 100%;
            text-align: center;
            @include transition(width 0.6s ease);
            padding: 6px 0;
        }
        .amount-rightBar {
            background-color: #76b990;
            overflow: hidden;
            float: left;
            width: 0%;
            height: 100%;
            text-align: center;
            @include transition(width 0.6s ease);
            padding: 6px 0;
        }
    }
}

.investorsUser {
    padding-top: 13px;
    font-weight: 300;
    .userIcon {
        float: left;
        margin-top: -13px;
        margin-right: 15px;
    }
}

.box-green {
    background: $secondary-color;
    color: $white-color;
    padding: 10px 30px 15px 30px;
    margin-top: 10px;
    display: table;
    margin-left: auto;
    small {
        color: $white-color;
        font-weight: 300;
    }
}

.price-row {
    &:after {
        display: block;
        content: '';
        clear: both;
        height: 0;
        width: 100%;
    }
}

.price-group {
    font-size: 21px;
    text-align: center;
    /*&:after{display: block; content: ''; clear: both; height: 0; width: 100%;}*/
    label {
        background-color: #95c54d;
        color: $white-color;
        padding: 5px;
        display: inline-block;
        position: relative;
        min-width: 120px;
        height: 50px;
        float: left;
        margin-right: 5px;
        padding-top: 11px;
        input {
            background: none;
            border: none;
            /*width:60px;*/
            outline: none;
        }
    }
    .button {
        display: block;
        height: 20px;
        background-repeat: no-repeat;
        width: 25px;
        float: left;
        cursor: pointer;
        background-position: center;
        margin-right: 15px;
        text-indent: -9999px;
        &.inc {
            background-image:url(#{$imagesPath}/plus.png);
            &:after {
                display: block;
                content: '';
                clear: both;
                height: 0;
            }
        }
        &.dec {
            background-image:url(#{$imagesPath}/minus.png);
        }
    }
}

.likeIcon {
    background-image:url(#{$imagesPath}/likeicon.png);
    background-position: center;
    background-color: #29aae2;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    @include rounded-corners(100%);
    display: inline-block;
    vertical-align: middle;
}

.radioboxInvestor {
    input,
    textarea {
        width: 100%;
        border: none;
        padding: 12px;
        font-size: 18px;
        font-weight: normal;
        margin: 10px 0;
    }
    textarea {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .expertiseitem-col1 {
        @include sm-width(23%)
    }
    .expertiseitem-col2 {
        @include sm-width(29%)
    }
    .expertiseitem-col3 {
        @include sm-width(23%)
    }
    .expertiseitem-col4 {
        @include sm-width(25%)
    }
}

.checkoutRow {
    a {
        text-decoration: none
    }
}

.price-row {
    h4 {
        margin-top: -22px;
    }
}

.main-content {
    min-height: 520px;
}

// Invest
.investors-carousel {
    // padding-left: 80px !important;
    // padding-right: 80px !important;
    // overflow: hidden;
    .owl-wrapper-outer {
        overflow: visible !important;
    }
    .investors-carousel_item {
        padding: 0 20px !important;
        opacity: 0.85;
        .investor-thumbnail_img {
            width: 150px;
            margin-right: 25px;
            margin-bottom: 15px;
            float: left;
        }
    }
}

.investors-carousel-wrap {
    padding-left: 80px !important;
    padding-right: 80px !important;
    overflow: hidden;
}
