@media (min-width: 1200px){
    .modal-lg.container{width:1170px;}
}

@media (max-width: 1200px) {
    .top-nav.nav > li > a{padding:7px 5px 14px 5px; margin:0 20px 0 0px;}

    ul.tabProjectList li{margin-right:2%; width: 49%;
        &:nth-child(3n+0){margin-right:2%;}
        &:nth-child(2n+0){margin-right:0;}
    }

    h1, .h1{font-size: 30px;}
    h2, .h2 {font-size: 26px;}

    .content-contest{height: 75px; padding-top:0; padding-bottom:0; display: table-cell; vertical-align: middle;}

    .tabProjectList.withprojectdetail li .projectImg{height:550px;}

    .modal-lg.container{width:100%;}
    .nav-pills > li > a{font-size:18px; padding:20px 8px;}
    .contest-list-lb p.bordRight{margin-left: -8px;}

    .connectingPic{max-width: 120px;}
    .radiusBox{width:40px; height:40px;}
    .desc-connection{min-width:140px; padding-right: 0; padding-bottom: 0;}
    .ongoingContast img{margin-bottom: 10px;}

    .project-caption{margin-left: 0;}
    .grid{margin-right:-25px;
        .element-item{width:50%; padding-right: 25px; padding-bottom: 25px;}
        .item-small{width:50%;}
    }

    .product-thumbnail .product-footer .radiusBox{line-height: 26px;}

    .footer-top [class^=col-] {
        padding-bottom:15px;}

}


@media (max-width: 991px) {
    header ul.socialList{position: absolute; right: 0; top: -60px;}
    header ul.account-list{float: right; margin-right: -15px;}

    .contest-list{margin-bottom:30px}


    .modal-content .well{margin-left:0; margin-top:20px;}
    .projectImg.lb{height:450px;}

    .fcoll{padding-bottom:30px;}
    .footer-top{padding-bottom:0;}
}

@media (max-width: 768px) {
    h3, .h3{font-size: 20px;}
    header .logo{padding-bottom: 15px;}
    header .navbar-nav, header .nav > li{float: left;}
    header .navbar-nav > li{float: left;}
    header .navbar-nav{margin-left:0; margin-right:0; margin-bottom: 0; padding-left:0;}
    header ul.account-list{margin-right: -10px;}

    .content-contest{font-size:13px; line-height: 16px; margin-left: -20px; padding: 12px 0px 12px 0;}
    .content-contest strong{font-size:18px;}
    .desc-connection{font-size:13px; line-height: 16px;}
    .radiusBox{width:35px; height:35px; font-size:20px;
        span{background-size:15px;}
    }

    .connectingPic{max-width:110px; margin-left: -15px;}

    .top-nav.nav > li > a{margin-right:12px;}
    ul.account-list > li{margin:0 9px;}
    ul.account-list > li > a img{margin-right:6px;}
    ul.tabProjectList li{width:100%; padding-left: 0;}

    .tabProjectList.withprojectdetail li .projectImg{height:400px;}

    .modal-content{padding:30px 20px 30px 20px;}
    .projectImg.lb{height:320px;}
    .moreentires{margin-bottom:10px; margin-left:0;}
    ul.prizebox li{width:100%; margin-bottom: 5px;}

    ul.list-inline-group li{font-size:15px; padding-right: 20px;}
    ul.list-inline-group li.separator-nav:after{font-size: 22px; top: 3px; padding-left: 8px;}

    .grid{margin-right: -10px;}
    .grid .element-item{padding-right: 10px;  padding-bottom: 10px;}
    .product-thumbnail .product-footer .radiusBox { line-height: 19px;  font-size: 28px;}

    .grid .element-item.item-xs-12{width:100%;}

}

@media (max-width: 550px){
    header{text-align: center; padding-top: 15px; padding-bottom: 5px;}
    header .logo{padding-bottom: 5px;}
    .nav-tabs.tabsection li a{font-size:20px;}
    header .navbar-nav{float:none}
    header ul.socialList{position: inherit;}
    .top-nav.nav > li > a{padding-bottom: 5px; border-width: 2px;}
    header ul.account-list{margin-top: 15px;}
    ul.socialList{margin-top: 20px;}

    .contest-list .col-xs-2{display: none;}
    .contest-list .double-star, .contest-list .coolestMemberPick, .contest-list .contestImg{display: none}
    .content-contest{margin-left:0; padding:0 0 0 12px;}
    .contest-list .col-xs-7{width:65%;}
    .contest-list .col-xs-3{width:35%;}

    .modal-lg.container{padding-left:0;}
    .modal-content .contest-list-lb .col-xs-2{display: block;}
    .modal-content .admin-content{width:100%; padding-left: 30px; padding-right: 5px;}
    .modal-content .vtabmenu{width:100%;}
    .modal-content h4{font-size:15px;}
    .radius-box{height: 35px; width: 35px; font-size: 15px;}
    .nav-pills > li > a{padding: 10px 8px;}
    .nav-pills > li > a br{display:none;}

    .modal-content .contest-list-lb [class^=col-xs-]{width:50%;}
    .modal-content .contest-list-lb [class^=col-xs-] h4{padding: 0 20px;}
    .contest-list-lb p.bordRight{border:none;}

    .moreentires h3{font-size:20px;}
    .chatsendform .sendbtn{font-size:20px;}

    //Expert Page
    .contest-list .col-xs-3.parent-psd-to-html{width:100%}
    .psd-to-html{display: block; padding:25px 0;}
    .project-itemCol[class^=col-xs-]{width: 100%; float: none;}
    .project-itemCol{
        &:hover{
            cursor: pointer;
        }
    }
    .connectingPic{display: none;}

    .project-new .row .col-xs-3:last-child{width:35%;}
    .project-new .row.odd .col-xs-3{width:25%;}
    .project-new .row .col-xs-6{width:65%;}


    ul.list-inline-group li .search{display: none;}
    .grid .element-item{width:100%;}
    .product-thumbnail{height: auto;  min-height: 300px;}

    footer .col-xs-6{width:100%; text-align: center;}
    .footer-top ul.socialList{display: table; margin-left: auto; margin-right: auto;}
}

@media (max-width: 480px){
    h1, .h1 {font-size: 24px;}
    h3, .h3{font-size:18px}

    ul.tabProjectList li .rankingMng [class^=col-xs-]{width:100%;}
    .nav-tabs.tabsection li a{font-size:16px; padding:4px 15px;}
    .leftRank{border-right: none;}
    .projectImg{height:320px;}
    .infobg{padding:2px 15px 20px 15px;}
    ul.priceList li{font-size:14px; padding-left: 30px;}
    .profilePick img{margin-bottom:10px;}

    .colRanking [class^=col-xs-]{width:100%;}

    .bgBox-quaternary{padding:2px 12px 20px 12px;}

    .well{padding-right: 10px;  padding-left: 10px;}
    .AdvertBtn a{font-size: 20px; padding: 12px;}
}

@media (max-width: 400px){
    header img{max-width:100%;}
    header .navbar-nav{display: table; margin-left: auto; margin-right: auto;}
    header ul.account-list{display: table; margin-left: auto; margin-right: auto; float: none;}
    .top-nav.nav > li > a{font-size: 12px; padding-left:2px; padding-right:2px; margin-right: 8px;}
    ul.socialList{display: none;}
    ul.account-list > li{margin: 0 8px;}

    .content-contest{padding-top:10px; padding-bottom:10px;}

    .projectImg.lb{height:260px;}
    ul.prizebox{padding-left:0; padding-top:30px;}
    ul.prizebox:before{top:0;}
    .chatbox{padding: 35px 25px 20px 25px;}
    .chat-content{padding: 10px;}
    .chatsendform input{padding: 12px 6px;}
    .chatsendform .sendbtn{font-size:16px;}

    .project-new .radiusBox{margin-top:15px;}

    .modal-content .contest-list-lb [class^=col-xs-] h4 strong, .modal-content .contest-list-lb [class^=col-xs-] h4 small{display: block; float: none !important; text-align: center;}
}

@media (max-width: 380px){
    .tabProjectList.withprojectdetail li .projectImg{height:320px;}
    .projectImg {height: 280px;}
    .btn-info{font-size:15px;}

    .radiusBox{display:table; margin: 5px; margin-left: auto; margin-right: auto; }
    .project-new .radiusBox{margin-right: initial;}

    .ongoing-contest h3 .pull-left, .ongoing-contest h3 .pull-right{float:none !important; display: block;}

    .project-new .row.odd .col-xs-3{margin-left: -10px; padding-right: 15px;}
    .product-footer .radiusBox{display: inline-block;}
    .product-thumbnail{min-height: 250px;}

    .desc-connection {padding-bottom: 5px;}
}