<div class="well marginT25 checkoutRow">
	<div class="row">
		<div class="col-md-8 col-sm-7">
			<h4 class="marginB25 marginT0">Expert budget needed: <br><span class="center-block marginT10">{{data.budget | currency}}</span></h4>
			<h4 class="marginT0">Adjustment margin: &nbsp; <small>{{data.adjustmentMargin}}% (min.: 10% ~ 40%)</small><br>
                <div class="adjustment-slider">
                    <slider ng-model="data.adjustmentMargin" min="'10'" step="'1'" max="'40'"></slider>
                </div>
            </h4>
			<div class="confirmations hide">
                <small style="color:#27aae1;">
                    confirmed on 29/11/15
                    <br>
                    confirmed by SE on 29/11/15
                </small>
            </div>
		</div>
		<div class="col-md-4 col-sm-5">
			<h1 class="box-green"><small>Total Budged Needed </small><br>{{getTotalBudget() | currency}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>
			<h3 class="marginT15">Check out how the project will be seen from investors in
			<a href="#"><small class="radiusBox orrange investr-radiusBox marginT0" style="font-size:15px;">PDF</small></a> or <a href="#"><small class="radiusBox Lsky investr-radiusBox marginT0" style="font-size:13px">WWW</small></a> <small class="text-orrange">* amend * confirmed</small></h3>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="well">
            <h3 class="marginT0">Creator Side</h3>
            <strong class="paddingT10">Your contribution</strong>
            <p class="paddingT5 paddingB15">How much you can contribute in your own project. <br> Your own commitment can drive more investors</p>
            <div class="price-row">
                <div class="price-group">
                    <div fs-counter value="data.selfFundingAmount"
                    data-min="0"
                    data-step="10"
                    data-width="200px"
                    data-editable
                    ></div>
                </div>
                <h5 class="price-group-label marginT0">which is {{(data.selfFundingAmount / getTotalBudget()) * 100 | number:1}}% of total budget</h5>
            </div>
            <h5 ng-if="data.selfFundingAmount > 0" class="text-sky clearfix paddingTB15"><i class="likeIcon"></i> Good, this investment will give you 30% more chance to get your project successful :-)</h5>
            <hr>
            <h3>Type of Investor you want</h3>
            <div class="clearfix">
                <div class="radiobox radioboxInvestor">
                    <label for="radio-active">
                        <input type="radio" name="investorRadios" id="radio-active" value="Active" checked="">
                        <i></i> <span><h4><strong>Active</strong></h4></span> </label>
                    <p>Active investors provie more than money, they usually know well about their market and can provide good pieces of advices for your market, potential customer or give good sales contacts</p>
                    <label for="non-active">
                        <input type="radio" name="investorRadios" id="non-active" value="Non Active">
                        <i></i> <span><h4><strong>Non Active</strong></h4></span> </label>
                    <p>Investment from investors is enough. No extra activities are favored.</p>
                    <label for="radio-all">
                        <input type="radio" name="investorRadios" id="radio-all" value="All">
                        <i></i> <span><h4><strong>All</strong></h4></span> </label>
                    <!-- <label for="pick-up">
                        <input type="radio" name="investorRadios" id="pick-up" value="Pick up Country">
                        <i></i> <span><h4><strong>Pick up Country</strong></h4></span> </label>
                    <input type="text" placeholder="Kenia, United Kingdom, etc..."> -->
                    <h3>Message to investors from you</h3>
                    <textarea placeholder="description here..."></textarea>
                    <div class="text-right"><a href="#">confirmed by SE on 29/11/15</a></div>
                    <h3>Message from superexperts to investors</h3>
                    <textarea placeholder="description here..."></textarea>
                </div>
                <div class="text-center">
                    <input type="submit" value="Confirm" class="btn btn_default btn-info">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="well">
            <h3 class="marginT0">Investor Side</h3>
            <strong class="paddingT10">Investors Contribution</strong>
            <p class="paddingB5 paddingT5">Amount that Investors need to cover</p>
            <div class="price-row">
                <div class="price-group">
                    <label for="name">$
                        <input type="text" disabled name="amount-investors" maxlength="4" size="4" id="amount-investors" value="{{getTotalBudget() - data.selfFundingAmount}}">
                    </label>
                </div>
            </div>
            <br><br>
            <!-- <h3 class="paddingB15">Yearly return you want to give  to Investors<br> <strong>{{data.yearlyReturns}}%</strong><small class="text-orrange">(min 15% - max 40%)</small></h3> -->
            <strong class="paddingT10">Yearly Returns</strong>
            <p class="marginB0 paddingT5">Yearly return you want to give  to Investors<br> <small class="text-orrange">(min 15% - max 40%)</small></p>
            <div class="price-row">
                <div class="price-group">
                    <div class="adjustment-slider">
                        <slider ng-model="data.yearlyReturns" min="'15'" step="'1'" max="'40'"></slider>
                    </div>
                </div>
                <div class="price-group-label"><strong>{{data.yearlyReturns}}%</strong></div>
                <!-- <h4 class="pull-left text-sky">confirmed on 29/11/15<br>confirmed by SE on 29/11/15</h4> -->
            </div>
            <h3>Payback time to investors</h3>
            <p class="paddingB10">That is the time you commit to payback all investors based on your future sales revenue
                <br> <span class="text-orrange">(min: 6 months - max- 24 months)</span></p>
            <div class="price-row">
                <div class="price-group">
                    <div class="adjustment-slider">
                        <slider ng-model="data.paybackDuration" min="'6'" step="'1'" max="'24'"></slider>
                    </div>
                </div>
                <div class="price-group-label"><strong>{{data.paybackDuration}} months</strong></div>
                <!-- <h4 class="pull-left text-sky">confirmed on 29/11/15<br>confirmed by SE on 29/11/15</h4> -->
            </div>
            <h3 class="paddingT10">Possible Period Extension</h3>
            <p class="paddingB15">if project cannot take off as fast as expected, it is the time investors will agree to extend the project before receiving their investment back.</p>
            <div class="price-row">
                <div class="price-group">
                    <div class="adjustment-slider">
                        <slider ng-model="data.paybackDurationExtension" min="'0'" step="'1'" max="'12'"></slider>
                    </div>
                </div>
                <div class="price-group-label"><strong>{{data.paybackDurationExtension}} months</strong></div>
                <!-- <h4 class="pull-left text-sky">confirmed on 29/11/15<br>confirmed by SE on 29/11/15</h4> -->
            </div>
            <h3 class="paddingT10">Number of investors (optional)</h3>
            <p class="paddingB15">choose the number of minimum investors that will be chosen</p>
            <div class="clearfix">
                <div class="pull-left">
                    <div class="price-row">
                        <div class="price-group">
                            <h3 class="pull-left marginT15">MIN&nbsp;</h3>
                            <label for="name" style="min-width:47px;">
                                <input type="text" disabled name="min" maxlength="1" size="1" id="min" value="5" class="text-center">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="price-row">
                        <div class="price-group">
                            <h3 class="pull-left marginT15">- MAX&nbsp;</h3>
                            <label for="name" style="min-width:35px;">
                                <input type="text" disabled name="min" maxlength="2" size="2" id="min" value="16" class="text-center">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="text-sky paddingT5">confirmed on 29/11/15<br>confirmed by SE on 29/11/15</h4>
            <div class="text-center marginT25 paddingT5 marginB15">
                <input type="submit" value="Save" class="btn btn_default btn-info">
            </div>
        </div>
    </div>
</div>
