<div ng-if="project.state < 5.9 || project.state > 5.9">
    <div class="well marginT25">
        <div class="row">
            <div class="col-md-5 bordRight-md">
                <h4 class="marginT0">Interested investors: <small class="pull-right">{{investmentData.all_bids.length}}</small></h4>
                <h4 class="marginT0">Active investors: <small class="pull-right">{{investmentData.active_investors}}</small></h4>
                <h4 class="marginT0">Minimum investors: <small class="pull-right">{{investmentData.investors_min}}</small></h4>
                <h4 class="marginT0">Shortlisted investors: <small class="pull-right">{{investmentData.shortlist_bids.length}}</small></h4>
                <h4 class="marginT0">Amount from you: <small class="pull-right">{{investmentData.self_funding_amount | currency}}</small></h4>
                <h4 class="marginT0">Amount from Shortlisted: <small class="pull-right">{{investmentData.amount_shortlist | currency}}</small></h4>
                <h4 class="marginT0">Amount from Selected: <small class="pull-right">{{investmentData.amount_selected | currency}}</small></h4>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="marginT25 investorsUser"><i class="userIcon"></i>{{investmentData.all_bids.length}} Investors ({{investmentData.active_investors}} active)
                   <span class="text-orrange paddingL15">/ Require {{investmentData.investors_min - investmentData.selected_bids.length}} more</span>
                </h4>

                <h2 class="amount-heading">Total Amount: {{investmentData.funding_amount | currency}}</h2>
                <div class="amount-group" ng-if="investmentData.amount_selected > 0">
                    <div class="amount-bar">
                        {{percent = (investmentData.amount_selected / investmentData.funding_amount) * 100;''}}
                        <div class="amount-lefBar" style="width:{{percent}}%">{{percent | number:0}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="marginT25">
        <hr>
        <div class="row paddingT15">
            <div class="col-xs-12">
                <ul class="list-inline-group investors-group">
                    <li class="separator-nav"><a class="isotopeNavSub pointer" ng-class="{'is-checked': bidSourceType === 'all'}" ng-click="switchSource('all')">ALL INVESTORS <span class="circle">{{investmentData.all_bids.length}}</span></a></li>
                    <li class="separator-nav"><a class="isotopeNavSub pointer" ng-class="{'is-checked': bidSourceType === 'shortlist'}" ng-click="switchSource('shortlist')">SHORTLISTED INVESTORS<span class="circle">{{investmentData.shortlist_bids.length}}</span></a></li>
                    <li><a class="isotopeNavSub pointer" ng-class="{'is-checked': bidSourceType === 'selected'}" ng-click="switchSource('selected')">INVESTORS SELECTED<span class="circle">{{investmentData.selected_bids.length}}</span></a></li>
                    <!-- <li class="separator-nav"><a class="isotopeNavSub" href="javascript:void(0)" data-filter=".more-investors">INVITE MORE INVESTORS</a></li> -->
                    <!-- <li><a class="isotopeNavSub" href="javascript:void(0)" data-filter=".hide-investors">HIDE INVESTORS</a></li> -->
                </ul>
            </div>
        </div>
        <div class="well padding0">
            <div class="grid2 investors-grid">
                <div class="isotope-subItem" ng-repeat="bid in bidSource">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                            <div class="expertise-thumbnail" style="background-image:url({{bid.investor.thumbnail_url}});">
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <div class="profilePick tooSmall pull-right margin10"> <img src="images/uk-flag.jpg" alt=""></div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-8">
                            <div class="row paddingTB18">
                                <div class="col-lg-2 col-md-3 col-sm-6 border_right-md">
                                    <h3 class="margin0">{{bid.investor.name}} {{bid.investor.last_name}} <br> <small>China</small></h3>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-6 border_right-md">
                                    <h3 class="margin0">Scoring: <small>4.5</small> <br>Ranking: <small>1st</small> <br>Amount Available: <small>{{bid.investor.investment_budget | currency}}</small> </h3>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <h3 class="margin0">Max: <small>{{bid.bid_amount_max | currency}}</small> <br>Min: <small>{{bid.bid_amount_min | currency}}</small> <br><span ng-class="{'text-green': bid.investor.active}">Active:</span> <small class="text-green" ng-if="bid.investor.active">yes</small> <small ng-if="!bid.investor.active">no</small> </h3>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <a ng-click="selectBid(bid)" class="btn btn-info marginT10 pointer" ng-if="bid.type !== 'select'">Select</a>
                                    <a ng-click="unSelectBid(bid)" class="btn btn-info marginT10 pointer btn-danger" ng-if="bid.type === 'select'">Remove</a>
                                    <a class="btn btn-info tbn-orrange marginT10 marginL10 marginR10">Hide</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="marginT0 marginB5">Message</h3>
                                    <p>{{bid.description}}</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-right paddingT10 paddingB10 shortlistLink">
                                        <a ng-click="shortlistBid(bid)" class="link-text-underline marginR10 pointer" ng-if="bid.type !== 'shortlist'">Shortlist</a>
                                        <a ng-click="unShortlistBid(bid)" class="link-text-underline marginR10 pointer" ng-if="bid.type === 'shortlist'">Remove Shortlist</a>
                                    </div>
                                    <div class="marginR10"><a class="btn btn-info btnGray btn-block" ng-click="bid.chat = true" ng-if="bid.chat === false">Chat</a></div>
                                    <div class="marginR10"><a class="btn btn-info btnGray btn-block" ng-click="bid.chat = false" ng-if="bid.chat === true">Close</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative clearfix" uib-collapse="!bid.chat" ng-init="bid.chat = false">
                        <fd-messenger thread-id="bid.thread_id"></fd-messenger>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div>
            <button class="btn btn-info center-block marginT30" ng-click="confirmInvestors()" ladda="confirmingInvestors">
                Submit for Review
            </button>
        </div>
    </div>
</div>

<div class="project-inreview well" ng-if="project.state === 5.9">
    <span class="icon icon-clock"></span>

    <p>Your project has been submitted for review. You will be notified when the Super Expert approves your project.</p>

    <p>For any inquires, please write to <a href="mailto:contact@fundator.co">contact@fundator.co</a></p>
</div>
