<div class="marginT25">

    <!-- <ul class="sort-filter">
        <li class="">
            <a>SUPER EXPERT UNDER SELECTION <span class="badge">{{superExperts.length}}</span></a>
        </li>
        <li>
            <a>SUPER EXPERT SELECTED <span class="badge">0</span></a>
        </li>
    </ul>
 -->
    <div class="super-expert-list">
        <div class="super-expert" ng-repeat="expert in superExperts">
            <div class="row">
                <div class="super-expert_col super-expert_col-thumbnail">
                    <div class="project-thumbnail" style="background-image: url('{{expert.user.thumbnail_url}}')"></div>
                    <h3 class="projectHeading">{{expert.user.name}} {{expert.user.last_name}}</h3>
                </div>
                <div class="super-expert_col super-expert_col-info">
                    <h4>Summary<br>
                        <small>{{expert.user.bio}}</small>
                    </h4>
                    <h4>Expertise<br>
                        <small>Project Management, innovationist</small>
                    </h4>
                    <h4>Language<br> <small>EN, FR, ES, KR</small></h4>
                </div>
                <div class="super-expert_col super-expert_col-stat">
                    <h4>Successful project: 5</h4>
                    <h4>Ongoing project: 3</h4>
                    <h4>Review
                    </h4>
                    <ul class="review-list">
                        <li><small>Communication: <strong>5</strong></small></li>
                        <li><small>Knowledge: <strong>5</strong></small></li>
                        <li><small>Expertise: <strong>5</strong></small></li>
                        <li><small>Overall: <strong>5</strong></small></li>
                    </ul>
                    <br>
                    <button class="btn btn-info btn-block" ng-click="chooseSuperExpert(expert)">Be <i class="fa fa-smile-o"></i> my Super Expert</button>
                </div>
            </div>
        </div>
    </div>
</div>
