<div class="marginT25">
    <ul class="sort-filter" ng-if="expertiseList.length > 0">
        <li class="">
            <a>Tasks under selection <span class="badge">{{expertiseList.length}}</span></a>
        </li>
        <li>
            <a>Tasks confirmed <span class="badge">0</span></a>
        </li>
        <li>
            <a>Tasks scheduled <span class="badge">0</span></a>
        </li>
    </ul>
    <div class="expertise-list marginB60">
        <div class="expertise marginB30" ng-repeat="expertise in expertiseList track by $index" ng-if="expertiseList.length > 0">
            <div class="expertise_col expertise_col-list">
                <ul class="expertise-breakdown">
                    <li ng-if="expertise.expertise_category">{{expertise.expertise_category.name}}</li>
                    <li ng-if="expertise.expertise_subcategory">{{expertise.expertise_subcategory.name}}</li>
                    <li>{{expertise.expertise.name}}</li>
                </ul>
            </div>
            <div class="expertise_col expertise_col-info">
                <h4>Main Task<br>
                    <small>{{expertise.task}}</small>
                </h4>
                <h4>Estimated budget: &nbsp;<small>{{expertise.budget | currency}}</small></h4>
                <h4>Lead time: &nbsp; <small>{{expertise.lead_time}}</small></h4>
                <h4>Expected starting date: &nbsp; <small>{{expertise.start_date | amDateFormat:'MMM Do YYYY' }}</small></h4>
            </div>
            <div class="expertise_col expertise_col-stat">
                <h4>Matching skill expert: &nbsp; <small>5</small></h4>
                <h4>Task added on: &nbsp; <small>{{expertise.created_at | amDateFormat:'MMM Do YYYY' }}</small></h4>
                <div ng-if="expertise.confirmation !== null" class="expertise_col-confimation">
                    <h4>
                        Task added by:
                        <img ng-src="{{expertise.confirmation.sender.thumbnail_url}}">
                        <small>{{expertise.confirmation.sender.name}} {{expertise.confirmation.sender.last_name}}</small>
                    </h4>
                    <div class="expertise_col-confimation__status">
                        <div class="waiting" ng-if="expertise.confirmation.confirm_status === 0">
                            <span class="icon icon-clock"></span> Waiting for confirmation
                        </div>
                        <div class="confirmed" ng-if="expertise.confirmation.confirm_status === 1">
                            <span class="icon icon-checkmark"></span> Confirmed
                        </div>
                    </div>
                    <button ng-if="expertise.confirmation.confirm_status === 0 && expertise.confirmation.sender.id !== user.id" class="btn btn-info btn-block">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
        <div class="no-have" ng-if="expertiseList.length === 0">
            There are currently no selected expertise! <br> Click 'Add Expertise' below to add a new expertise.
        </div>
    </div>
    <form name="expertiseForm">
        <div class="expertise-add">
            <button class="btn btn-info btn-block" ng-click="addNewInputtedExpertise()" ng-if="inputtedExpertiseList.length === 0">Add a new expertise you want</button>
        </div>
        <div class="expertise" ng-repeat="inputtedExpertise in inputtedExpertiseList track by $index" ng-disabled="inputtedExpertise === false">
            {{inputtedExpertiseIndex=$index;''}}
            <div class="expertise-form">
                <div class="expertise-form_steps">
                    <div class="expertise-form_step" ng-class="{'active': inputtedExpertise.step === 1}" ng-click="inputtedExpertise.step = 1">
                        <span class="expertise-form_step__count">1</span> Expertise Category
                        <span class="expertise-form_step__sub" ng-if="inputtedExpertise.selectedExpertiseCategory !== null">+ {{inputtedExpertise.selectedExpertiseCategory.name}}</span>
                    </div>
                    <div class="expertise-form_step" ng-class="{'active': inputtedExpertise.step === 2}" ng-click="inputtedExpertise.step = 2" ng-disabled="inputtedExpertise.selectedExpertiseCategory === null && inputtedExpertise.otherExpertiseCategory.status === 0">
                        <span class="expertise-form_step__count">2</span> Sub Expertise Category
                        <span class="expertise-form_step__sub" ng-if="inputtedExpertise.selectedExpertiseSubCategory !== null">+ {{inputtedExpertise.selectedExpertiseSubCategory.name}}</span>
                    </div>
                    <div class="expertise-form_step" ng-class="{'active': inputtedExpertise.step === 3}" ng-click="inputtedExpertise.step = 3" ng-disabled="inputtedExpertise.selectedExpertiseSubCategory === null && inputtedExpertise.otherExpertiseSubCategory.status === 0">
                        <span class="expertise-form_step__count">3</span> Expertise
                        <span class="expertise-form_step__sub" ng-if="inputtedExpertise.selectedExpertise !== null">+ {{inputtedExpertise.selectedExpertise.name}}</span>
                    </div>
                    <div class="expertise-form_step" ng-class="{'active': inputtedExpertise.step === 4}" ng-click="inputtedExpertise.step = 4" ng-disabled="inputtedExpertise.selectedExpertise === null && inputtedExpertise.otherExpertise.status === 0">
                        <span class="expertise-form_step__count">4</span> Details
                    </div>
                </div>
                <fd-loader ng-if="inputtedEpxertise.loading"></fd-loader>
                <div class="expertise-form_panes" ng-if="!inputtedEpxertise.loading">
                    <div class="expertise-form_step-pane" ng-if="inputtedExpertise.step === 1">
                        <div class="expertise-category-list" ng-if="inputtedExpertise.otherExpertiseCategory.status === 0">
                            <div class="expertise-category tag" ng-repeat="expertiseCategory in inputtedExpertise.expertiseCategoryList track by $index" ng-class="{'active': inputtedExpertise.selectedExpertiseCategory === expertiseCategory}" ng-click="selectExpertiseCategory(inputtedExpertiseIndex, expertiseCategory, 0)" ng-disabled="inputtedExpertise.selectedExpertiseCategory !== null && inputtedExpertise.selectedExpertiseCategory != expertiseCategory">
                                {{expertiseCategory.name}}
                                <span class="expertise-category_cancel icon icon-cross" ng-click="deselectExpertiseCategory($event, inputtedExpertiseIndex, 0)"></span>
                            </div>
                        </div>
                        <div class="expertise-actions">
                            <div class="expertise-actions_other-status" ng-if="inputtedExpertise.otherExpertiseCategory.status > 0">
                                You have opted to enter a custom Expertise Category, enter your Expertise Category below
                            </div>
                            <div class="expertise-actions_other-field">
                                <input type="text" class="expertise-actions_other-field__input" placeholder="Other ..." ng-model="inputtedExpertise.otherExpertiseCategory.name" focus-on="inputtedExpertise.otherExpertiseCategory.status > 0">
                            </div>
                            <button class="expertise-actions_other-submit btn btn-info" ng-click="saveOtherExpertiseCategory(inputtedExpertiseIndex, 0)" ng-if="inputtedExpertise.otherExpertiseCategory.status === 0">Save</button>
                            <button class="expertise-actions_other-submit btn btn-danger" ng-click="removeOtherExpertiseCategory(inputtedExpertiseIndex, 0)" ng-if="inputtedExpertise.otherExpertiseCategory.status > 0">Remove</button>
                        </div>
                    </div>
                    <div class="expertise-form_step-pane" ng-if="inputtedExpertise.step === 2">
                        <div class="expertise-category-list" ng-if="inputtedExpertise.otherExpertiseCategory.status === 0 && inputtedExpertise.otherExpertiseSubCategory.status === 0">
                            <div class="expertise-category tag" ng-repeat="expertiseSubCategory in inputtedExpertise.expertiseSubCategoryList track by $index" ng-class="{'active': inputtedExpertise.selectedExpertiseSubCategory === expertiseSubCategory}" ng-click="selectExpertiseCategory(inputtedExpertiseIndex, expertiseSubCategory, 1)" ng-disabled="inputtedExpertise.selectedExpertiseSubCategory !== null && inputtedExpertise.selectedExpertiseSubCategory != expertiseSubCategory">
                                {{expertiseSubCategory.name}}
                                <span class="expertise-category_cancel icon icon-cross" ng-click="deselectExpertiseCategory($event, inputtedExpertiseIndex, 1)"></span>
                            </div>
                        </div>
                        <div class="expertise-actions">
                            <div class="expertise-actions_other-status" ng-if="inputtedExpertise.otherExpertiseCategory.status > 0 || inputtedExpertise.otherExpertiseSubCategory.status > 0">
                                You have opted to enter a custom Sub Expertise Category, enter your Expertise Category below
                            </div>
                            <div class="expertise-actions_other-field">
                                <input type="text" class="expertise-actions_other-field__input" placeholder="Other ..." ng-model="inputtedExpertise.otherExpertiseSubCategory.name" focus-on="inputtedExpertise.otherExpertiseCategory.status > 0 || inputtedExpertise.otherExpertiseSubCategory.status > 0">
                            </div>
                            <button class="expertise-actions_other-submit btn btn-info" ng-click="saveOtherExpertiseCategory(inputtedExpertiseIndex, 1)" ng-if="inputtedExpertise.otherExpertiseSubCategory.status === 0">Save</button>
                            <button class="expertise-actions_other-submit btn btn-danger" ng-click="removeOtherExpertiseCategory(inputtedExpertiseIndex, 1)" ng-if="inputtedExpertise.otherExpertiseSubCategory.status > 0">Remove</button>
                        </div>
                    </div>
                    <div class="expertise-form_step-pane" ng-if="inputtedExpertise.step === 3">
                        <div class="expertise-category-list" ng-if="inputtedExpertise.otherExpertiseCategory.status === 0 && inputtedExpertise.otherExpertiseSubCategory.status === 0 && inputtedExpertise.otherExpertise.status === 0">
                            <div class="expertise-category tag full" ng-repeat="expertise in inputtedExpertise.expertiseList track by $index" ng-class="{'active': inputtedExpertise.selectedExpertise === expertise}" ng-click="selectExpertise(inputtedExpertiseIndex, expertise)" ng-disabled="inputtedExpertise.selectedExpertise !== null && inputtedExpertise.selectedExpertise != expertise">
                                {{expertise.name}}
                                <span class="expertise-category_cancel icon icon-cross" ng-click="deselectExpertise($event, inputtedExpertiseIndex)"></span>
                            </div>
                        </div>
                        <div class="expertise-actions">
                            <div class="expertise-actions_other-status" ng-if="inputtedExpertise.otherExpertiseCategory.status > 0 || inputtedExpertise.otherExpertiseSubCategory.status > 0 || inputtedExpertise.otherExpertise.status > 0">
                                You have opted to enter a custom Expertise, enter your Expertise below
                            </div>
                            <div class="expertise-actions_other-field">
                                <input type="text" class="expertise-actions_other-field__input" placeholder="Other ..." ng-model="inputtedExpertise.otherExpertise.name" focus-on="inputtedExpertise.otherExpertiseCategory.status > 0 || inputtedExpertise.otherExpertiseSubCategory.status > 0 || inputtedExpertise.otherExpertise.status > 0">
                            </div>
                            <button class="expertise-actions_other-submit btn btn-info" ng-click="saveOtherExpertise(inputtedExpertiseIndex)" ng-if="inputtedExpertise.otherExpertise.status === 0">Save</button>
                            <button class="expertise-actions_other-submit btn btn-danger" ng-click="removeOtherExpertise(inputtedExpertiseIndex)" ng-if="inputtedExpertise.otherExpertise.status > 0">Remove</button>
                        </div>
                    </div>
                    <div class="expertise-form_step-pane expertise-form_step-pane__details" ng-if="inputtedExpertise.step === 4">
                        <label>Main Task
                            <br>
                            <textarea class="form-control" name="" rows="3" ng-model="inputtedExpertise.mainTask" required>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tempore incidunt nobis totam, iure facilis? Doloremque deleniti eius omnis, tempora vitae, ullam harum molestiae, sequi dolore voluptate quibusdam, temporibus commodi!</textarea>
                        </label>
                        <label class="half-way first">Estimated budget:
                            <br>
                            <input class="form-control" type="text" placeholder="USD 1500" ng-model="inputtedExpertise.budget" required numbers-only>
                        </label>
                        <label class="half-way last">Expected starting date:
                            <br>
                            <p class="input-group">
                            <input type="text" class="form-control" ng-model="inputtedExpertise.startDate" uib-datepicker-popup="yyyy/MM/dd" is-open="data.datepicker.isOpen" ng-required="true" close-text="Close">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="data.datepicker.isOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </label>
                        <label>Lead time:
                            <br>
                            <input class="form-control" type="text" placeholder="60 days" ng-model="inputtedExpertise.leadTime" required numbers-only>
                        </label>
                    </div>
                </div>
                <button class="btn btn-info btn-block marginT30" ng-if="inputtedExpertise.step === 4" ng-disabled="expertiseForm.$invalid" ng-click="saveExpertise(inputtedExpertise)">Save</button>
            </div>
        </div>
    </form>

    <br>

    <button class="btn btn-info center-block marginT30" ng-click="saveExpertiseSelection()" ladda="savingExpertise">Save Selection</button>
</div>
