<script id="contests-tpl" type="text/ng-template">
    <div class="contests-list">
        {{#contests}}
        <div class="contest">
        	<a href="/app/#/contests/{{id}}">
        		<div class="sliding-tiles">
		            <div class="contest-details" style="background-image: url({{thumbnail}});">

		            	<div class="contest-details_inner">
			                <div class="contest-detail">
			                    <h4>Contestants</h4>
			                    <span class="contest-detail-value">
									{{num_contestants}}
								</span>
			                </div>
			                <div class="contest-detail">
			                    <h4>Time to Go</h4>
			                    <span class="contest-detail-value">
									60 Days
								</span>
			                </div>
		            	</div>
		            </div>
		            <div class="contest-name">
		                {{name}}
		            </div>
        		</div>
        	</a>
        </div>
        {{/contests}}
    </div>
</script>
<script id="expertise-tpl" type="text/ng-template">
	<div class="expertise-list">
		{{#expertise}}
			<div class="expertise">
				<div class="sliding-tiles">
					<div class="sliding-tile_front" style="background-image: url({{project.thumbnail}});">
						<div class="expertise-name">
							{{expertise.name}}
						</div>
					</div>
					<div class="sliding-tile_back">
						<div class="expertise-name-description">
							<div class="expertise-name">
								{{expertise.name}}
							</div>
							<div class="expertise-description">
								{{task}}
							</div>
						</div>

						<div class="expertise-budget">
							Total Budget: ${{budget}}
						</div>
					</div>
				</div>
			</div>
		{{/expertise}}
	</div>
</script>
<script id="investors-tpl" type="text/ng-template">
	<div class="investors-list" data-flickity-options='{ "cellAlign": "left", "contain": true }'>
		<!-- <div class="carousel js-flickity">
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
			<div class="carousel-cell">Investor 2</div>
		</div> -->
		{{#investors}}
			<div class="investor">
				<div class="sliding-tiles">
					<div class="sliding-tile_front" style="background-image:url(images/investors/{{image}});">
						<div class="investor-name">
							{{name}}
						</div>
					</div>
					<div class="sliding-tile_back">
						<div class="investor-name">
							{{name}}
						</div>
						<div class="investor-location">
							{{location}}
						</div>
						<div class="investor-bio">
							{{bio}}
						</div>
					</div>
				</div>
			</div>
		{{/investors}}
	</div>
</script>
