<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12"> <a href="#" class="logo"><img src="images/logo.png" alt=""></a> </div>
        <div class="col-lg-8 col-md-12">
            <div class="header_right">
                <nav>
                    <ul class="nav navbar-nav top-nav">
                        <li><a>Home</a></li>
                        <li><a>Create</a></li>
                        <li><a>Expert</a></li>
                        <li><a>Invest</a></li>
                        <li><a ui-sref="app.contest" ng-class="{'activenav': $state.current.name.indexOf('contest') !== -1}">Contest</a></li>
                    </ul>

                    <ul class="nav navbar-nav top-nav pull-right" ng-if="!authenticated">
                        <li><a ui-sref="app.login" ng-class="{'activenav': $state.current.name.indexOf('login') !== -1}">Login</a></li>
                        <li><a ui-sref="app.register" ng-class="{'activenav': $state.current.name.indexOf('register') !== -1}">Register</a></li>
                    </ul>
                </nav>
                <ul class="account-list navbar-nav" ng-if="authenticated && user">
                    <li><a class="profile">
                        <img src="images/icon-user-default.png" alt="" ng-if="!user.thumbnail">
                        <img ng-src="{{user.thumbnail}}" alt="" ng-if="user.thumbnail">
                        {{user.name}}
                    </a></li>
                    <li class="cdNavList"><a href="#cd-nav" class="cd-nav-trigger">Menu <span class="cd-nav-icon"></span> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>