<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="navFixContent">
            <div class="container">
                <uib-tabset class="dashbord-tab col-sm-9">
                    <uib-tab heading="Account">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <img class="editableProfileimage" src="images/icon-user-default.png" alt="" ng-if="!user.thumbnail">
                                        <img class="editableProfileimage" ng-src="{{user.thumbnail}}" alt="" ng-if="user.thumbnail">
                                        <h4 class="font-light"><a href="#" class="color-inherit link-text-underline"><span ng-click="changeThumbnail();">change picture</span></a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-6 border-left-white">
                                <div class="user-settings paddingL25">
                                    <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">Name:</span>
                                        <strong ng-if="data.userSettingsMode === 'view'">{{user.name}} {{user.last_name}}</strong>
                                        <br>
                                        <div ng-if="data.userSettingsMode === 'edit'" class="form-group"><input type="text" class="form-control" placeholder="First Name ..." ng-model="user.name"> <input type="text" class="form-control" placeholder="Last Name ..." ng-model="user.last_name"></div>
                                    </h5>
                                    <!-- <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">Registered Email Adress:</span>
                                        <strong>{{user.email}}</strong>
                                    </h5>
                                    <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">Registered Phone Number:</span>
                                        <strong ng-if="data.userSettingsMode === 'view'">{{user.contact_number}}</strong>
                                        <div ng-if="data.userSettingsMode === 'edit'" class="form-group"><input type="text" class="form-control" placeholder="Contact Number ..." ng-model="user.contact_number"></div>
                                    </h5> -->
                                    <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">Country:</span>
                                        <strong ng-if="data.userSettingsMode === 'view'">{{user.country_origin}}</strong>
                                        <div ng-if="data.userSettingsMode === 'edit'" class="form-group"><input type="text" class="form-control" placeholder="Your Country ..." ng-model="user.country_origin"></div>
                                    </h5>
                                    <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">City:</span>
                                        <strong ng-if="data.userSettingsMode === 'view'">Shanghai</strong>
                                        <div ng-if="data.userSettingsMode === 'edit'" class="form-group"><input type="text" class="form-control" placeholder="Your City ..." ng-model="user.city"></div>
                                    </h5>
                                    <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">Reviews:</span>
                                        <strong>+0 positive Reviews</strong>
                                    </h5>

                                    <h5 class="font-light marginB20 marginT30">
                                        <span class="bigtext paddingR25">Bio:</span>
                                        <strong class="bio" ng-if="data.userSettingsMode === 'view'">
                                            <p>{{user.bio}}</p>
                                        </strong>
                                        <div ng-if="data.userSettingsMode === 'edit'" class="form-group">
                                            <textarea type="text" class="form-control" placeholder="Your Bio ..." ng-model="user.bio"></textarea>
                                        </div>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>
                        <br>
                        <div class="user-settings-controls clearfix text-right">
                            <a class="btn btn_default btn-info marginL10" ng-if="data.userSettingsMode === 'view'" ng-click="data.userSettingsMode = 'edit'">Change Details</a>
                            <a class="btn btn_default btn-info marginL10" ng-if="data.userSettingsMode === 'edit' && data.userSettingsSave !== 1" ng-click="saveProfile()">
                                <span ng-if="data.userSettingsSave === -1">Save</span>
                                <span ng-if="data.userSettingsSave === 0">Saving</span>
                            </a>
                            <a class="btn btn_default btn-success marginL10" ng-if="data.userSettingsMode === 'edit' && data.userSettingsSave === 1">Saved!</a>
                            <!-- &nbsp;&nbsp;<a ng-click="logout()" class="btn btn_default btn-danger">Logout</a> -->
                        </div>
                    </uib-tab>
                    <uib-tab heading="Profile / Skills">
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-sm-6">
                                <div class="paddingL25">
                                    <h4 class="font-light marginT0 marginB20"><span class="bigtext">You have &nbsp;<span class="radius-box rbM">{{user.skills.length}}</span>&nbsp; skills registered</span></h4>

                                    <div class="profile-skills-selection marginB20" ng-if="data.userSettingsMode === 'edit'">
                                        <select chosen multiple data-placeholder="Select Skills ..."
                                            no-results-text="'Could not find any skills :('"
                                            ng-model="user.skills"
                                            ng-options="skill as skill.name for skill in allSkills">
                                        </select>
                                    </div>

                                    <div class="skillsList">
                                        <h4 class="font-light pointer" ng-repeat="skill in user.skills"><a>{{skill.name}}</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="user-settings-controls clearfix text-right">
                            <a class="btn btn_default btn-info marginL10" ng-if="data.userSettingsMode === 'view'" ng-click="data.userSettingsMode = 'edit'">Edit Skills</a>
                            <a class="btn btn_default btn-info marginL10" ng-if="data.userSettingsMode === 'edit' && data.userSettingsSave !== 1" ng-click="saveProfile()">
                                <span ng-if="data.userSettingsSave === -1">Save</span>
                                <span ng-if="data.userSettingsSave === 0">Saving</span>
                            </a>
                            <a class="btn btn_default btn-success marginL10" ng-if="data.userSettingsMode === 'edit' && data.userSettingsSave === 1">Saved!</a>
                            <!-- &nbsp;&nbsp;<a ng-click="logout()" class="btn btn_default btn-danger">Logout</a> -->
                        </div>
                    </uib-tab>
<!--                     <uib-tab heading="Notification">
                        <ul class="list-inline-group">
                            <li class="separator-nav"><a href="javascript:void(0)">EXPERT ROLE</a></li>
                            <li class="separator-nav"><a href="javascript:void(0)">INVESTOR</a></li>
                            <li><a href="javascript:void(0)">SE</a></li>
                        </ul>
                        <h4 class="font-light marginB20"><span class="bigtext">Getting notified on time is of our most  importance but it should not get to the point you get annoyed or drowned.</span></h4>
                        <h4 class="font-light marginB20">Fundathom gives you full access to the way you get notified.</h4>
                        <h4 class="font-light marginB20"><span class="bigtext">First Choose where to receive notifications</span></h4>
                        <ul class="list-unstyled radiobox radioboxWhiteBase">
                            <li>
                                <label for="email">
                                    <input type="radio" name="receive-notifications" id="email" value="email" checked="">
                                    <i></i> <span>Email</span> </label>
                                <input type="text" placeholder="youremailhere@dot.com" class="inputField">
                                <span class="emailorand-field">
                          <label for="emailorand">
                              <input type="radio" name="receive-notifications" id="emailorand" value="emailorand">
                              <i></i> <span>Or / And</span> </label>
                                <input type="text" placeholder="youremailhere@dot.com" class="inputField">
                                </span>
                            </li>
                            <li>
                                <label for="linkedin">
                                    <input type="radio" name="receive-notifications" id="linkedin" value="Linkedin">
                                    <i></i> <span>Linkedin</span> </label>
                            </li>
                            <li>
                                <label for="wechat">
                                    <input type="radio" name="receive-notifications" id="wechat" value="wechat">
                                    <i></i> <span>Wechat</span> </label>
                            </li>
                            <li>
                                <label for="facebook">
                                    <input type="radio" name="receive-notifications" id="facebook" value="Facebook">
                                    <i></i> <span>Facebook</span> </label>
                            </li>
                            <li>
                                <label for="others">
                                    <input type="radio" name="receive-notifications" id="others" value="others">
                                    <i></i> <span>Others</span> </label>
                            </li>
                        </ul>
                        <h4 class="font-light"><span class="bigtext">Choose Frequency</span></h4>
                        <h4 class="font-light">We have four profiles to help you decide</h4>
                        <ul class="list-unstyled radiobox radioboxWhiteBase">
                            <li>
                                <label for="theAsap-user">
                                    <input type="radio" name="ChooseFrequency" id="theAsap-user" value="theAsap-user" checked="">
                                    <i></i> <span>The ASAP user - everything at any time</span> </label>
                            </li>
                            <li>
                                <label for="all-in-one">
                                    <input type="radio" name="ChooseFrequency" id="all-in-one" value="all-in-one">
                                    <i></i> <span>All in one daily</span> </label>
                            </li>
                            <li>
                                <label for="my-work-daily">
                                    <input type="radio" name="ChooseFrequency" id="my-work-daily" value="my-work-daily">
                                    <i></i> <span>All for my work daily - the rest weekly</span> </label>
                            </li>
                            <li>
                                <label for="the-minimalist">
                                    <input type="radio" name="ChooseFrequency" id="the-minimalist" value="the-minimalist">
                                    <i></i> <span>The minimalist</span> </label>
                            </li>
                        </ul>
                        <a href="#" class="btn btn_default btn-info">Save</a> <a href="#" class="btn btn_default btn-success marginL10">Change Details</a>
                    </uib-tab>
                    <uib-tab heading="Say it Loud">
                      <ul class="list-inline-group">
                            <li class="separator-nav"><a href="javascript:void(0)">EXPERT ROLE</a></li>
                            <li class="separator-nav"><a href="javascript:void(0)">INVESTOR</a></li>
                            <li><a href="javascript:void(0)">SE</a></li>
                        </ul>
                      <h4 class="font-light marginB25"><span class="bigtext">You can fine tune notifications to match perfectly your need</span></h4>
                      <h4 class="font-light marginB0"><span class="bigtext">On projects you work</span></h4>
                          <div class="radiobox radioboxWhiteBase">
                          <div class="on-products-work">
                          <div class="row">
                            <div class="col-md-4">
                                <h4 class="font-light">- Messages related to your task</h4>
                            </div>
                            <div class="col-md-8">
                                <label for="task-asap">
                                <input type="radio" name="on-task" id="task-asap" value="task-asap" checked="">
                                <i></i> <span>ASAP</span> </label>

                                <label for="task-daily">
                                <input type="radio" name="on-task" id="task-daily" value="task-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="task-gmail">
                                <input type="radio" name="on-task" id="task-gmail" value="task-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="task-wechat">
                                <input type="radio" name="on-task" id="task-wechat" value="task-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="task-facebook">
                                <input type="radio" name="on-task" id="task-facebook" value="task-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-4">
                                <h4 class="font-light">- Messages related to Project</h4>
                            </div>
                            <div class="col-md-8">
                                <label for="project-asap">
                              <input type="radio" name="on-project" id="project-asap" value="project-asap">
                              <i></i> <span>ASAP</span> </label>

                              <label for="project-daily">
                              <input type="radio" name="on-project" id="project-daily" value="project-daily">
                              <i></i> <span>Daily</span> </label>

                              <span class="span-or">or</span>

                              <label for="project-gmail">
                              <input type="radio" name="on-project" id="project-gmail" value="project-gmail">
                              <i></i> <span>Gmail</span> </label>

                              <label for="project-wechat">
                              <input type="radio" name="on-project" id="project-wechat" value="project-wechat" checked="">
                              <i></i> <span>Wechat</span> </label>

                              <label for="project-facebook">
                              <input type="radio" name="on-project" id="project-facebook" value="project-facebook">
                              <i></i> <span>Facebook</span> </label>
                            </div>
                          </div>
                          </div>
                          <hr>

                          <h4 class="font-light"><span class="bigtext">On Projects you bid</span></h4>
                            <div class="on-project-bid">
                            <div class="row">
                            <div class="col-md-4">
                                <h4 class="font-light">- Update on Project</h4>
                            </div>
                            <div class="col-md-8">
                                <label for="bid-asap">
                                <input type="radio" name="projects-bid" id="bid-asap" value="bid-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="bid-daily">
                                <input type="radio" name="projects-bid" id="bid-daily" value="bid-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="bid-gmail">
                                <input type="radio" name="projects-bid" id="bid-gmail" value="bid-gmail" checked="">
                                <i></i> <span>Gmail</span> </label>

                                <label for="bid-wechat">
                                <input type="radio" name="projects-bid" id="bid-wechat" value="bid-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="bid-facebook">
                                <input type="radio" name="projects-bid" id="bid-facebook" value="bid-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-md-4">
                                <h4 class="font-light"> - Lose / Win</h4>
                            </div>
                            <div class="col-md-8">
                                <label for="LoseWin-asap">
                                <input type="radio" name="projects-LoseWin" id="LoseWin-asap" value="LoseWin-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="LoseWin-daily">
                                <input type="radio" name="projects-LoseWin" id="LoseWin-daily" value="LoseWin-daily" checked="">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="LoseWin-gmail">
                                <input type="radio" name="projects-LoseWin" id="LoseWin-gmail" value="LoseWin-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="LoseWin-wechat">
                                <input type="radio" name="projects-LoseWin" id="LoseWin-wechat" value="LoseWin-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="LoseWin-facebook">
                                <input type="radio" name="projects-LoseWin" id="LoseWin-facebook" value="LoseWin-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-md-4">
                                <h4 class="font-light">- Message from Creator / SuperExpert</h4>
                            </div>
                            <div class="col-md-8">
                                <label for="SuperExpert-asap">
                                <input type="radio" name="projects-SuperExpert" id="SuperExpert-asap" value="SuperExpert-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="SuperExpert-daily">
                                <input type="radio" name="projects-SuperExpert" id="SuperExpert-daily" value="SuperExpert-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="SuperExpert-gmail">
                                <input type="radio" name="projects-SuperExpert" id="SuperExpert-gmail" value="SuperExpert-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="SuperExpert-wechat">
                                <input type="radio" name="projects-SuperExpert" id="SuperExpert-wechat" value="SuperExpert-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="SuperExpert-facebook">
                                <input type="radio" name="projects-SuperExpert" id="SuperExpert-facebook" value="SuperExpert-facebook" checked="">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>
                            </div>

                            <hr>
                            <h4 class="font-light"><span class="bigtext">For Notifications on Finance, go to <a href="#">Financial Dashboard</a></span></h4>
                            <hr>

                            <h4 class="font-light"><span class="bigtext">On new Project matching your recorded skills</span></h4>
                            <div class="row">
                            <div class="col-md-2">
                                <h4 class="font-light">- New Project</h4>
                            </div>
                            <div class="col-md-10">
                                <label for="skills-asap">
                                <input type="radio" name="matching-skills" id="skills-asap" value="skills-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="skills-daily">
                                <input type="radio" name="matching-skills" id="skills-daily" value="skills-daily" checked="">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="skills-gmail">
                                <input type="radio" name="matching-skills" id="skills-gmail" value="skills-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="skills-wechat">
                                <input type="radio" name="matching-skills" id="skills-wechat" value="skills-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="skills-facebook">
                                <input type="radio" name="matching-skills" id="skills-facebook" value="skills-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>
                            <hr>

                            <h4 class="font-light"><span class="bigtext">On Projects not matching your recorded skills</span></h4>
                            <div class="noMatchingRecordSkills">
                            <div class="row">
                            <div class="col-lg-5">
                                <h4 class="font-light">- Project from Creator I’ve been waiting for</h4>
                            </div>
                            <div class="col-lg-7">
                                <label for="waiting-asap">
                                <input type="radio" name="project-waiting" id="waiting-asap" value="waiting-asap" checked="">
                                <i></i> <span>ASAP</span> </label>

                                <label for="waiting-daily">
                                <input type="radio" name="project-waiting" id="waiting-daily" value="waiting-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="waiting-gmail">
                                <input type="radio" name="project-waiting" id="waiting-gmail" value="waiting-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="waiting-wechat">
                                <input type="radio" name="project-waiting" id="waiting-wechat" value="waiting-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="waiting-facebook">
                                <input type="radio" name="project-waiting" id="waiting-facebook" value="waiting-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-lg-5">
                                <h4 class="font-light">- Projects from : Choose Products / Choose Country</h4>
                            </div>
                            <div class="col-lg-7">
                                <label for="choose-asap">
                                <input type="radio" name="choose-products" id="choose-asap" value="choose-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="choose-daily">
                                <input type="radio" name="choose-products" id="choose-daily" value="choose-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="choose-gmail">
                                <input type="radio" name="choose-products" id="choose-gmail" value="choose-gmail" checked="">
                                <i></i> <span>Gmail</span> </label>

                                <label for="choose-wechat">
                                <input type="radio" name="choose-products" id="choose-wechat" value="choose-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="choose-facebook">
                                <input type="radio" name="choose-products" id="choose-facebook" value="choose-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-lg-5">
                                <h4 class="font-light">- Projects where Past super expert are involved</h4>
                            </div>
                            <div class="col-lg-7">
                                <label for="involved-asap">
                                <input type="radio" name="involved-products" id="involved-asap" value="involved-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="involved-daily">
                                <input type="radio" name="involved-products" id="involved-daily" value="involved-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="involved-gmail">
                                <input type="radio" name="involved-products" id="involved-gmail" value="involved-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="involved-wechat">
                                <input type="radio" name="involved-products" id="involved-wechat" value="involved-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="involved-facebook">
                                <input type="radio" name="involved-products" id="involved-facebook" value="involved-facebook" checked="">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-lg-5">
                                <h4 class="font-light">- Projects where Past Investors are involved</h4>
                            </div>
                            <div class="col-lg-7">
                                <label for="investors-asap">
                                <input type="radio" name="investors-products" id="investors-asap" value="investors-asap">
                                <i></i> <span>ASAP</span> </label>

                                <label for="investors-daily">
                                <input type="radio" name="investors-products" id="investors-daily" value="investors-daily" checked="">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="investors-gmail">
                                <input type="radio" name="investors-products" id="investors-gmail" value="investors-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="investors-wechat">
                                <input type="radio" name="investors-products" id="investors-wechat" value="investors-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="investors-facebook">
                                <input type="radio" name="investors-products" id="investors-facebook" value="investors-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-lg-5">
                                <h4 class="font-light">- Projects where Past Experts are involved</h4>
                            </div>
                            <div class="col-lg-7">
                                <label for="pastExperts-asap">
                                <input type="radio" name="pastExperts-products" id="pastExperts-asap" value="pastExperts-asap" checked="">
                                <i></i> <span>ASAP</span> </label>

                                <label for="pastExperts-daily">
                                <input type="radio" name="pastExperts-products" id="pastExperts-daily" value="pastExperts-daily">
                                <i></i> <span>Daily</span> </label>

                                <span class="span-or">or</span>

                                <label for="pastExperts-gmail">
                                <input type="radio" name="pastExperts-products" id="pastExperts-gmail" value="pastExperts-gmail">
                                <i></i> <span>Gmail</span> </label>

                                <label for="pastExperts-wechat">
                                <input type="radio" name="pastExperts-products" id="pastExperts-wechat" value="pastExperts-wechat">
                                <i></i> <span>Wechat</span> </label>

                                <label for="pastExperts-facebook">
                                <input type="radio" name="pastExperts-products" id="pastExperts-facebook" value="pastExperts-facebook">
                                <i></i> <span>Facebook</span> </label>
                            </div>
                            </div>
                            </div>
                            <div class="paddingTB15 marginT10"><a href="#" class="btn btn_default btn-info">Save Changes</a></div>
                            <hr style="margin-bottom:-15px;">

                          </div>
                    </uib-tab> -->
                </uib-tabset>


                <!-- Qucik Access -->

                <div class="quick-access_menu">
                    <uib-accordion close-others="true">
                        <uib-accordion-group ng-if="hasUserRole('creator')" is-open="'true'">
                            <uib-accordion-heading>
                                Contests
                                <span class="caret"></span>
                            </uib-accordion-heading>
                            <uib-accordion close-others="false" ng-if="sideNavigationData.contestant !== null">
                                <uib-accordion-group ng-if="sideNavigationData.contestant.ongoing.length > 0" is-open="'true'">
                                    <uib-accordion-heading>
                                        Ongoing Contests
                                        <span class="badge pull-right">{{sideNavigationData.contestant.ongoing.length}}</span>
                                    </uib-accordion-heading>

                                    <ul class="list-group list-group-transparent">
                                        <li class="list-group-item" ng-repeat="contest in sideNavigationData.contestant.ongoing">
                                            <img ng-src="{{contest.thumbnail}}" alt="" class="img-responsive img-rounded">
                                            <a class="pointer" ng-click="goToLink('app.contest', {contestId: contest.contest_id}, 'creator')">
                                                {{contest.name}}

                                                <span class="status success" ng-if="contest.status === 1">
                                                    <span class="icon icon-checkmark"></span> Accepted
                                                </span>
                                                <span class="status waiting" ng-if="contest.status === 0">
                                                    <span class="icon icon-clock"></span> Waiting for review
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </uib-accordion-group>
                                <uib-accordion-group ng-if="sideNavigationData.contestant.past.length > 0" is-open="'true'">
                                    <uib-accordion-heading>
                                        Contest History
                                        <span class="badge pull-right">0</span>
                                    </uib-accordion-heading>

                                    <span class="empty">
                                        You have no past contests
                                    </span>
                                </uib-accordion-group>
                            </uib-accordion>
                            <span class="empty" ng-if="sideNavigationData.contestant === null">
                                You have no contests, <a ui-sref="app.contests">Browse Contests</a> to participate in one!
                            </span>
                        </uib-accordion-group>
                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Jury
                                <span class="caret"></span>
                            </uib-accordion-heading>
                            <uib-accordion close-others="false" ng-if="sideNavigationData.jury !== null">
                                <uib-accordion-group ng-if="sideNavigationData.jury.ongoing.length > 0" is-open="'true'">
                                    <uib-accordion-heading>
                                        Ongoing Contests
                                        <span class="badge pull-right">{{sideNavigationData.jury.ongoing.length}}</span>
                                    </uib-accordion-heading>

                                    <ul class="list-group list-group-transparent">
                                        <li class="list-group-item" ng-repeat="contest in sideNavigationData.jury.ongoing">
                                            <img ng-src="{{contest.thumbnail}}" alt="" class="img-responsive img-rounded">
                                            <a class="pointer" ng-click="goToLink('app.contest', {contestId: contest.contest_id}, 'jury')">
                                                {{contest.name}}

                                                <span class="status success" ng-if="contest.status === 1">
                                                    <span class="icon icon-checkmark"></span> Accepted
                                                </span>
                                                <span class="status waiting" ng-if="contest.status === 0">
                                                    <span class="icon icon-clock"></span> Waiting for review
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </uib-accordion-group>
                                <uib-accordion-group ng-if="sideNavigationData.jury.past.length > 0" is-open="'true'">
                                    <uib-accordion-heading>
                                        Contest History
                                        <span class="badge pull-right">0</span>
                                    </uib-accordion-heading>

                                    <span class="empty">
                                        You have no past contests
                                    </span>
                                </uib-accordion-group>
                            </uib-accordion>
                            <span class="empty" ng-if="sideNavigationData.jury === null">
                                You have no contests, <a ui-sref="app.contests">Browse Contests</a> to judge in one!
                            </span>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Creator Activity" ng-if="hasUserRole('creator')">
                            <uib-accordion-heading>
                                Creator Activity
                                <span class="caret"></span>
                            </uib-accordion-heading>
                            <uib-accordion close-others="false" ng-if="sideNavigationData.creator !== null">
                                <uib-accordion-group>
                                    <uib-accordion-heading>
                                        Ongoing Projects
                                        <span class="badge pull-right">3</span>
                                    </uib-accordion-heading>

                                    <ul class="list-group list-group-transparent">
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                    </ul>
                                </uib-accordion-group>
                                <uib-accordion-group>
                                    <uib-accordion-heading>
                                        Project History
                                        <span class="badge pull-right">0</span>
                                    </uib-accordion-heading>

                                    <span class="empty">
                                        You have no past projects
                                    </span>
                                </uib-accordion-group>
                            </uib-accordion>
                            <span class="empty" ng-if="sideNavigationData.creator === null">
                                You have no projects, Click here to create one!
                            </span>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Expert Activity" ng-if="hasUserRole('expert')">
                            <uib-accordion-heading>
                                Expert Activity
                                <span class="caret"></span>
                            </uib-accordion-heading>
                            <uib-accordion close-others="false" ng-if="sideNavigationData.expert !== null">
                                <uib-accordion-group>
                                    <uib-accordion-heading>
                                        Ongoing Projects
                                        <span class="badge pull-right">{{sideNavigationData.contestant.ongoing.length}}</span>
                                    </uib-accordion-heading>

                                    <ul class="list-group list-group-transparent">
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                    </ul>
                                </uib-accordion-group>
                                <uib-accordion-group>
                                    <uib-accordion-heading>
                                        Project History
                                        <span class="badge pull-right">0</span>
                                    </uib-accordion-heading>

                                    <span class="empty">
                                        You have no past contests
                                    </span>
                                </uib-accordion-group>
                            </uib-accordion>
                            <span class="empty" ng-if="sideNavigationData.expert === null">
                                You have no projects, Click here to browse projects!
                            </span>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Investor Activity" ng-if="hasUserRole('investor')">
                            <uib-accordion-heading>
                                Investor Activity
                                <span class="caret"></span>
                            </uib-accordion-heading>
                            <uib-accordion close-others="false" ng-if="sideNavigationData.investor !== null">
                                <uib-accordion-group>
                                    <uib-accordion-heading>
                                        Ongoing Contests
                                        <span class="badge pull-right">3</span>
                                    </uib-accordion-heading>

                                    <ul class="list-group list-group-transparent">
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Cats and Dogs Connected Devices</a>
                                        </li>
                                    </ul>
                                </uib-accordion-group>
                                <uib-accordion-group>
                                    <uib-accordion-heading>
                                        Contest History
                                        <span class="badge pull-right">0</span>
                                    </uib-accordion-heading>

                                    <span class="empty">
                                        You have no past contests
                                    </span>
                                </uib-accordion-group>
                            </uib-accordion>
                            <span class="empty" ng-if="sideNavigationData.investor === null">
                                You have no projects, Click here to browse projects!
                            </span>
                        </uib-accordion-group>
                        <!-- <uib-accordion-group heading="Transaction">
                            <span class="empty">
                                Coming Soon
                            </span>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Account">
                            <ul class="list-group list-group-transparent">
                                <li class="list-group-item">
                                    <a ng-click="openFullMenu('account')" class="pointer marginB15">Account Settings</a>
                                    <a ng-click="openFullMenu('profile')" class="pointer">Profile / Skills</a>
                                </li>
                            </ul>
                        </uib-accordion-group> -->
                    </uib-accordion>

                    <br>
                    <br>

                    <ul class="account-menu">
                        <li>
                            <a class="pointer" ng-click="goToLink('app.transaction', {})">Transactions</a>
                        </li>
                        <li>
                            <a ng-click="openFullMenu('account')" class="pointer marginB15">Account Settings</a>
                        </li>
                        <li>
                            <a ng-click="openFullMenu('profile')" class="pointer">Profile / Skills</a>
                        </li>
                    </ul>

                    <br>
                    <a ng-click="logout()" class="btn btn_default btn-danger btn-block marginT5">Logout</a>
                </div>

            </div>
        </div>
    </div>
    <!-- .cd-navigation-wrapper -->
</div>
