<div class="modal-close">
    <span class="icon icon-remove" ng-click="cancel();"></span>
</div>

<div class="modal-body clearfix">
    <div class="img-upload-style1">
        <h3 class="img-upload-title">Upload Your Profile Picture</h3>
        <div class="img-upload-show"  ng-class="{'dropable': dropable}">
            <div class="img-upload-drag">
                <span class="icon icon-img-drag"></span>
                <p class="iud-dec">
                    <span ng-if="!dropable">Drag</span>
                    <span ng-if="dropable">Drop</span>
                    Photo Here To Upload
                </p>
            </div>
            <div class="img-upload-crop imgcrop-area">
                <img-crop image="thumbnail" result-image="croppedThumbnail" area-type="circle"></img-crop>
            </div>
        </div>
        <div class="img-upload-file">
            <input id="fileInput" filestyle="" type="file" data-class-button="btn btn-primary" data-class-input="form-control" accept="image/*"
                data-button-text="" data-icon-name="fa fa-upload" class="form-control iud-file-img">
            <div class="iud-file-mod">
                <input type="text"  ng-value="fileName" class="form-control iud-file-input" disabled>
                <label class="iud-file-label" for="fileInput" tabindex="0">
                    <span class="icon icon-cloud-upload"></span>
                    Choose File
                </label>
            </div>
        </div>
        <div class="image-error">{{imageError}}</div>
        <div class="img-upload-buttons">
            <button class="btn btn-info btn-alt" ng-click="cancel()">Cancel</button>
            <button class="btn btn-info" ng-click="setThumbnail()">Set Thumbnail</button>
        </div>
    </div>
</div>

