<div class="well marginB0 ongoing-contest">
    <div class="paddingLR10">
        <h2 class="clearfix heading-bottom-border marginT0"><span class="pull-left">Ongoing Investments</span> <small class="pull-right radius-box rbM">{{user.investor.num_investments}}</small></h2>
        <h3 class="clearfix marginT20"><span class="pull-left">Current Investment</span> <small class="pull-right marginT5">{{user.investor.current_investment | currency}}</small></h3>
        <h3 class="clearfix marginT0"><span class="pull-left">Current Average Return</span> <small class="pull-right marginT5">{{user.investor.average_return}}% in 2016</small></h3>
        <h4 class="font-light"><a ui-sref="app.transaction" class="homeLink pointer">Go to Financial Investment Summary</a></h4>
    </div>
</div>
<div class="investBtn clearfix">
	<span class="pull-left">My Available Investment</span>
	<small class="pull-right marginT5" ng-if="!data.editMode">{{user.investor.investment_budget | currency:'$':0}}</small>
	<input type="number" class="pull-right marginT5" ng-if="data.editMode" max="100000" placeholder="{{user.investor.investment_budget | currency:'$':0}}" ng-model="user.investor.investment_budget">

	<div class="modify">
		<a class="pointer" ng-click="editInvestment(true)" ng-if="!data.editMode">Modify</a>

		<a class="pointer" ng-click="editInvestment(false)" ng-if="data.editMode">Cancel /</a>
		<a class="pointer" ng-click="modifyInvestment()" ng-if="data.editMode">Save</a>
	</div>
</div>