<div class="well marginB0 ongoing-contest">
    <div class="paddingLR10">
        <h1 class="clearfix heading-bottom-border marginT0"><span class="pull-left">Ongoing Investment</span> <small class="pull-right radius-box rbM">0</small></h1>
        <h4 class="font-light"><a ui-sref="app.transaction" class="homeLink pointer">Go to Financial Investment Summary</a></h4>
        <h3 class="clearfix marginT0"><span class="pull-left">Current Investment</span> <small class="pull-right marginT5">$0</small></h3>
        <h3 class="clearfix marginT0"><span class="pull-left">Current Average Return</span> <small class="pull-right marginT5">0% in 2016</small></h3>
        <!-- <h3 class="clearfix marginT0"><span class="pull-left">Earning from the begining </span> <small class="pull-right marginT5">$0</small></h3> -->
        <!-- <h3 class="clearfix marginT0"><span class="pull-left">Investor Ranking </span> <small class="pull-right marginT5">N/A</small></h3> -->
    </div>
</div>
<div class="investBtn clearfix">
	<span class="pull-left">My Available Investment</span>
	<small class="pull-right marginT5" ng-if="!data.editMode">{{user.investor.investment_budget | currency:'$':0}}</small>
	<input type="number" class="pull-right marginT5" ng-if="data.editMode" max="100000" placeholder="{{user.investor.investment_budget | currency:'$':0}}" ng-model="user.investor.investment_budget">

	<div class="modify">
		<a class="pointer" ng-click="editInvestment(true)" ng-if="!data.editMode">Modify</a>

		<a class="pointer" ng-click="editInvestment(false)" ng-if="data.editMode">Cancel /</a>
		<a class="pointer" ng-click="modifyInvestment()" ng-if="data.editMode">Save</a>
	</div>
</div>