.profile {
    .profile-image {
        float: left;
        width: 32px;
    }
    .profile-info {
        float: right;
        margin-left: 15px;
        position: relative;
        top: -2px;
        > span {
            display: block;
        }
        .profile-role {
            font-size: 11px;
            letter-spacing: 0.03em;
            font-style: italic;
            font-weight: lighter;
            line-height: 1.3;
        }

        .popover{
            border: 0;
            box-shadow: none;
            background: #444;
            min-width: 180px;

            .arrow:after{
                border-bottom-color: #444;
            }

            .popover-title{
                background-color: #444;
                border-bottom: 0;
                font-weight: normal;
            }

            .popover-content{
                background-color: #333;
                padding: 0;

                ul > li {
                    a{
                        display: block;
                        padding: 8px 15px;
                        color: #fff;
                        text-decoration: none;

                        &:hover{
                            cursor: pointer;
                            background-color: #444;
                            color: $fd-green;
                        }
                    }

                    &.active a{
                        cursor: pointer;
                        background-color: #444;
                        color: $fd-green;
                    }
                }
            }
        }
    }
}

.account-menu{
    list-style: none;
    padding: 0 15px;

    > li {
        margin-bottom: 5px;

        > a{
            text-decoration: none !important;
            font-size: 16px;
            line-height: 32px;
            color: #fff;
        }
    }
}

// .ongoing-contest,
// .contest-list {
//     min-height: 294px;
//     max-height: 294px;
// }

.contest-single_entry .contest-list {
    min-height: 447px;
    max-height: auto;
}

.carousel_content .small {
    padding: 0px 1px 5px 10px;
    margin-top: -10px;
    font-style: italic;
}

.entry-details {
    min-height: 448px;
    &.entry-details-marks {
        @include clearfix();
        background: #e8e8e8;
        margin-top: 15px;
        .entry-image,
        .entry-marks {
            min-height: inherit;
            width: 50%;
            float: left;
        }
        .entry-image {
            background-image: url('/images/1.png');
            background-size: cover;
            background-position: center;

           	h2{
                background: linear-gradient(to bottom,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.14) 61%,rgba(0,0,0,.06) 75%,rgba(0,0,0,0) 100%);
                margin: 0;
                padding: 20px 15px 50px;
           		padding-left: 15px;
           		color: #fff;
           	}
        }
        .entry-marks {
        	h3{
        		margin-bottom: 20px;
        	}

            padding: 15px 20px;
            form {
                fieldset {
                    padding-left: 35px;
                    margin-top: 15px;
                    label {
                        font-size: 18px;
                        position: relative;
                        .label-prefix {
                            font-size: 16px;
                            width: 28px;
                            height: 28px;
                            padding: 4px;
                            color: #fff;
                            background-color: #29aae2;
                            position: absolute;
                            left: -35px;
                            text-align: center;
                            border-radius: 50%;
                        }
                    }

                    input{
                    	border: 0;
                    	border-radius: 0;
                    	box-shadow: none;
                    }
                }
            }
        }
    }
}

.chatsendform{
    input[type="text"]{
        border: 0;
        box-shadow: none;
        border-radius: 0;
    }
}