<main class="main main-style1 login-main-style1">
    <div class="container">
        <div class="main-inner">
            <form class="box-full-style1 form-style1">
                <section class="summary-style1">
                    <h1 class="h-title">Login to fundator</h1>
                </section>

                <div class="auth-providers">
                    <a ng-click="authenticate('linkedin')">
                        <img src="/images/linkedin.png" alt="Linkedin Login">
                    </a>
                </div>

                <div class="form-msg error" ng-if="errorMessage.length">
                    {{errorMessage}}
                </div>

                <div class="form-group">
                    <div class="fm-col-m">
                        <input class="form-control input-lg" ng-model="email" type="email" placeholder="Your email" autocomplete="off">
                        <span class="form-control-feedback icon"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="fm-col-m">
                        <input class="form-control input-lg" ng-model="password" type="password" placeholder="Your password">
                        <span class="form-control-feedback icon"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="fm-col-m">
                        <button type="submit" class="btn btn-block btn-lg fm-selected" ng-click="login()">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>